
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US"  class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231698163555566" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231698163555566" title="oEmbed Form">
<meta property="og:title" content="Mental Health Assessment Form" >
<meta property="og:url" content="https://form.jotform.com/231698163555566" >
<meta property="og:description" content="Please click the link to complete this form." >
<meta name="slack-app-id" content="AHNMASS8M">
<meta property="og:image" content="https://www.jotform.com/uploads/edenthwala/form_files/CodeMed_Logo.64910c321fe2f3.92432375.jpg" />
<link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
<script>
          var favicon = document.querySelector('link[rel="shortcut icon"]');
          window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
          if(favicon && window.isDarkMode) {
              favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
          }
      </script><link rel="canonical" href="https://form.jotform.com/231698163555566" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>Mental Health Assessment Form</title>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42887&themeRevisionID=6310a6ad592c72439615db25"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42887" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42887" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/stylebuilder/donationBox.css?v=3.3.42887">
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/
    .form-all {
      font-family: Inter, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .form-all {
      max-width: 752px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 230px;
    }
  
    .form-all {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: #fff;
    }
  
    .form-all {
      color: #2C3345;
    }
    .form-header-group .form-header {
      color: rgb(255, 255, 255);
    }
    .form-header-group .form-subHeader {
      color: #2C3345;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: #2C3345;
    }
    .form-sub-label {
      color: #464d5f;
    }
  
  .supernova {
    background-color: #ecedf3;
  }
  .supernova body {
    background: transparent;
  }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #fff;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    };
  
    .form-all {
      background-image: none;
    }
  
    .form-all {
      position: relative;
    }
    .form-all:before {
      content: "";
      background-image: url("https://www.jotform.com/uploads/edenthwala/form_files/CodeMed_Logo.64910c321fe2f3.92432375.jpg");
      display: inline-block;
      height: 140px;
      position: absolute;
      background-size: 140px 140px;
      background-repeat: no-repeat;
      width: 100%;
    }
    .form-all {
      margin-top: 160px;
    }
    .form-all:before {
      top: -150px;
      background-position: top center;
      left: 0;
    }
          /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/*,
*:after,
*:before{box-sizing:border-box}.form-all{font-family:"Inter", sans-serif}.main .jotform-form{width:100%;padding:0 3%}.form-all{display:flex;flex-direction:column;width:100%;max-width:752px}.form-line-active{background-color:#ffffe0}.form-all{font-size:16px}li.form-line{margin-top:12px;margin-bottom:12px}.form-line{padding:12px 10px}.form-section{padding:0px 38px}.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input{background-color:#ffffff}.form-label{font-family:"Inter", sans-serif}.form-line-column{width:calc(50% - 8px)}.form-checkbox-item label,
.form-checkbox-item span,
.form-radio-item label,
.form-radio-item span{color:#6f6f6f}.form-radio-item,
.form-checkbox-item{padding-bottom:0px !important}.form-radio-item:last-child,
.form-checkbox-item:last-child{padding-bottom:0}.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item{width:100%}.form-checkbox-item .editor-container div,
.form-radio-item .editor-container div{position:relative}.form-checkbox-item .editor-container div:before,
.form-radio-item .editor-container div:before{display:inline-block;vertical-align:middle;left:0;width:20px;height:20px}.submit-button{font-size:16px;font-weight:normal;font-family:"Inter", sans-serif}.submit-button{min-width:180px}.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next{font-family:"Inter", sans-serif;font-size:16px;font-weight:normal}.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next{min-width:128px}li[data-type="control_image"] div{text-align:left}li[data-type="control_image"] img{border:none;border-width:0px !important;border-style:solid !important;border-color:false !important}.supernova{height:100%;background-repeat:no-repeat;background-attachment:scroll;background-position:center top;background-repeat:repeat}.supernova{background-image:none}#stage{background-image:none}.form-all{background-repeat:no-repeat;background-attachment:scroll;background-position:center top;background-repeat:repeat}.form-header-group{background-repeat:no-repeat;background-attachment:scroll;background-position:center top}.header-large h1.form-header{font-size:2em}.header-large h2.form-header{font-size:1.5em}.header-large h3.form-header{font-size:1.17em}.header-large h1 + .form-subHeader{font-size:1em}.header-large h2 + .form-subHeader{font-size:.875em}.header-large h3 + .form-subHeader{font-size:.75em}.header-default h1.form-header{font-size:2em}.header-default h2.form-header{font-size:1.5em}.header-default h3.form-header{font-size:1.17em}.header-default h1 + .form-subHeader{font-size:1em}.header-default h2 + .form-subHeader{font-size:.875em}.header-default h3 + .form-subHeader{font-size:.75em}.header-small h1.form-header{font-size:2em}.header-small h2.form-header{font-size:1.5em}.header-small h3.form-header{font-size:1.17em}.header-small h1 + .form-subHeader{font-size:1em}.header-small h2 + .form-subHeader{font-size:.875em}.header-small h3 + .form-subHeader{font-size:.75em}.form-header-group{text-align:left}.form-header-group{font-family:"Inter", sans-serif}div.form-header-group.header-large,
div.form-header-group.hasImage{margin:0px -38px}div.form-header-group.header-large,
div.form-header-group.hasImage{padding:40px 52px}.form-header-group .form-header,
.form-header-group .form-subHeader{color:#ffffff}.form-header-group{background-color:#98afec}.form-line-error{overflow:hidden;-webkit-transition-property:none;-moz-transition-property:none;-ms-transition-property:none;-o-transition-property:none;transition-property:none;-webkit-transition-duration:0.3s;-moz-transition-duration:0.3s;-ms-transition-duration:0.3s;-o-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-ms-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;background-color:#fff4f4}.form-line-error .form-error-message{background-color:#f23a3c;clear:both;float:none}.form-line-error .form-error-message .form-error-arrow{border-bottom-color:#f23a3c}.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error{border:1px solid #f23a3c;box-shadow:0 0 3px #f23a3c}.supernova{background-color:#ffffff;background-color:#ecedf3}.supernova body{background-color:transparent}.supernova .form-all,
.form-all{background-color:#ffffff}.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input{background-color:#ffffff}.form-matrix-table tr{border-color:#e6e6e6}.form-matrix-table tr:nth-child(2n){background-color:#f2f2f2}.form-all{color:#2c3345}.form-label-top,
.form-label-left,
.form-label-right,
.form-html{color:#555555}.form-line-error{overflow:hidden;-webkit-transition-property:none;-moz-transition-property:none;-ms-transition-property:none;-o-transition-property:none;transition-property:none;-webkit-transition-duration:0.3s;-moz-transition-duration:0.3s;-ms-transition-duration:0.3s;-o-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-ms-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;background-color:#fff4f4}
.form-label.form-label-auto {
        
      display: block;
      float: none;
      text-align: left;
      width: 100%;
    
      }
    /* Injected CSS Code */
</style>

<!--[if lt IE 9]><script src="https://cdn02.jotfor.ms/js/vendor/flashcanvas.js?3.3.42887" type="text/javascript"></script><![endif]-->
<script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42887" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/js/vendor/jSignature.min.noconflict.js?3.3.42887" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/js/vendor/jotform.signaturepad.js?3.3.42887" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/static/prototype.forms.js?3.3.42887" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/static/jotform.forms.js?3.3.42887" type="text/javascript"></script>
<script defer src="https://cdn02.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42887" type="text/javascript"></script>
<script defer src="https://cdn03.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42887" type="text/javascript"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
<script src="https://cdn01.jotfor.ms/js/payments/validategateways.js?v=3.3.42887" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/s/umd/c57b5d8704b/for-sign-form-integration.js?v=3.3.42887" type="text/javascript" defer></script>
<script type="text/javascript">	JotForm.newDefaultTheme = true;
	JotForm.extendsNewTheme = false;
	JotForm.singleProduct = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.newPaymentUI = true;
	JotForm.useJotformSign = "Yes";
	JotForm.clearFieldOnHide="disable";
	JotForm.submitError="jumpToFirstError";

	JotForm.init(function(){
	/*INIT-START*/
if (window.JotForm && JotForm.accessible) $('input_30').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_32').setAttribute('tabindex',0);
      setTimeout(function() {
          $('input_33').hint('e.g., 23');
       }, 20);

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("34", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("34", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
      JotForm.setPhoneMaskingValidator( 'input_36_full', '\u0023\u0023\u0023 \u0023\u0023\u0023 \u0023\u0023\u0023\u0023' );
if (window.JotForm && JotForm.accessible) $('input_38').setAttribute('tabindex',0);
      JotForm.setPhoneMaskingValidator( 'input_40_full', '\u0023\u0023\u0023 \u0023\u0023\u0023 \u0023\u0023\u0023\u0023' );

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("42", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("42", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
 JotForm.displayLocalTime("input_42_hourSelect", "input_42_minuteSelect","input_42_ampm", "input_42_timeInput", true);

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("43", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("43", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
 JotForm.displayLocalTime("input_43_hourSelect", "input_43_minuteSelect","input_43_ampm", "input_43_timeInput", true);
if (window.JotForm && JotForm.accessible) $('input_44').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_45').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_14').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_15').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_16').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_17').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_18').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_12').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_13').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_7').setAttribute('tabindex',0);

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("10", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("10", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
      JotForm.alterTexts(undefined);
	/*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,{"name":"mentalHealth","qid":"1","text":"Mental Health Assessment Form","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"name":"patientInformation","qid":"3","text":"Patient Information","type":"control_head"},{"name":"mentalHealth4","qid":"4","text":"Mental Health Exam","type":"control_head"},{"name":"diagnosisAnd","qid":"5","text":"Diagnosis and Treatment","type":"control_head"},null,{"name":"positionTitle","qid":"7","text":"Position Title","type":"control_textbox"},{"name":"healthCare8","qid":"8","text":"Health Care Worker Name","type":"control_fullname"},{"name":"healthCare","qid":"9","text":"Health Care Worker Signature","type":"control_signature"},{"name":"dateSigned","qid":"10","text":"Date Signed","type":"control_datetime"},{"name":"medicationsif","qid":"11","text":"Medications (If needed)","type":"control_matrix"},{"name":"mentalHealth12","qid":"12","text":"Mental Health Diagnosis","type":"control_textarea"},{"name":"planOf13","qid":"13","text":"Plan of Treatment","type":"control_textarea"},{"name":"anyCurrent","qid":"14","text":"Any current or history of violent behavior? If yes, please explain below when, how, and what happened.","type":"control_textarea"},{"name":"doesThe","qid":"15","text":"Does the patient have any past or current medical condition that you would like to declare? (head injury, accident, etc.)","type":"control_textarea"},{"name":"isThere","qid":"16","text":"Is there any previous hospitalization? If yes, please explain the reason. If no, leave blank","type":"control_textarea"},{"name":"doesThe17","qid":"17","text":"Does the patient have any allergies? If yes, please list them below:","type":"control_textarea"},{"name":"isThe","qid":"18","text":"Is the patient currently taking any medications? If yes, please list them below:","type":"control_textarea"},{"name":"checkingMental","qid":"19","text":"Checking Mental State","type":"control_matrix"},{"name":"generalAppearance","qid":"20","text":"General Appearance","type":"control_radio"},{"name":"motorActivity","qid":"21","text":"Motor Activity","type":"control_radio"},{"name":"judgment","qid":"22","text":"Judgment","type":"control_radio"},{"name":"memory","qid":"23","text":"Memory","type":"control_radio"},{"name":"concentration","qid":"24","text":"Concentration","type":"control_radio"},{"name":"insight","qid":"25","text":"Insight","type":"control_radio"},{"name":"cognitive","qid":"26","text":"Cognitive","type":"control_radio"},{"name":"speech","qid":"27","text":"Speech","type":"control_radio"},{"name":"affect","qid":"28","text":"Affect","type":"control_radio"},{"name":"dailyPatterns","qid":"29","text":"Daily Patterns","type":"control_radio"},{"name":"patientId","qid":"30","text":"Patient ID","type":"control_textbox"},{"name":"fullName","qid":"31","text":"Full Name","type":"control_fullname"},{"name":"nickName","qid":"32","text":"Nick Name","type":"control_textbox"},{"name":"age","qid":"33","text":"Age","type":"control_number"},{"name":"dateOf","qid":"34","text":"Date of Birth","type":"control_datetime"},{"name":"gender","qid":"35","text":"Gender","type":"control_radio"},{"name":"phoneNumber","qid":"36","text":"Phone Number","type":"control_phone"},{"name":"address","qid":"37","text":"Address","type":"control_address"},{"name":"employmentStatus","qid":"38","subLabel":"Employed, Self-employed, unemployed","text":"Employment Status","type":"control_textbox"},{"name":"emergencyContact","qid":"39","text":"Emergency Contact Person","type":"control_fullname"},{"name":"emergencyContact40","qid":"40","text":"Emergency Contact Phone Number","type":"control_phone"},{"name":"race","qid":"41","text":"Race","type":"control_radio"},{"name":"assessmentStart","qid":"42","text":"Assessment Start Date\u002FTime","type":"control_datetime"},{"name":"assessmentEnd","qid":"43","text":"Assessment End Date\u002FTime","type":"control_datetime"},{"name":"primaryConcern","qid":"44","text":"Primary Concern (symptoms, duration, intensity)","type":"control_textarea"},{"name":"familyRelationshipinterpersonal","qid":"45","text":"Family Relationship\u002FInterpersonal (Kindly describe the social relationship of the patient to anyone.)","type":"control_textarea"},{"name":"input46","qid":"46","text":"Please fill-up the form below. If you have any questions, kindly email us at CodeMed.Group.Corp@outlook.com","type":"control_text"},{"name":"divider","qid":"47","text":"Divider","type":"control_divider"},{"name":"divider48","qid":"48","text":"Divider","type":"control_divider"},{"name":"email","qid":"49","subLabel":"example@example.com","text":"Email","type":"control_email"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"mentalHealth","qid":"1","text":"Mental Health Assessment Form","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"name":"patientInformation","qid":"3","text":"Patient Information","type":"control_head"},{"name":"mentalHealth4","qid":"4","text":"Mental Health Exam","type":"control_head"},{"name":"diagnosisAnd","qid":"5","text":"Diagnosis and Treatment","type":"control_head"},null,{"name":"positionTitle","qid":"7","text":"Position Title","type":"control_textbox"},{"name":"healthCare8","qid":"8","text":"Health Care Worker Name","type":"control_fullname"},{"name":"healthCare","qid":"9","text":"Health Care Worker Signature","type":"control_signature"},{"name":"dateSigned","qid":"10","text":"Date Signed","type":"control_datetime"},{"name":"medicationsif","qid":"11","text":"Medications (If needed)","type":"control_matrix"},{"name":"mentalHealth12","qid":"12","text":"Mental Health Diagnosis","type":"control_textarea"},{"name":"planOf13","qid":"13","text":"Plan of Treatment","type":"control_textarea"},{"name":"anyCurrent","qid":"14","text":"Any current or history of violent behavior? If yes, please explain below when, how, and what happened.","type":"control_textarea"},{"name":"doesThe","qid":"15","text":"Does the patient have any past or current medical condition that you would like to declare? (head injury, accident, etc.)","type":"control_textarea"},{"name":"isThere","qid":"16","text":"Is there any previous hospitalization? If yes, please explain the reason. If no, leave blank","type":"control_textarea"},{"name":"doesThe17","qid":"17","text":"Does the patient have any allergies? If yes, please list them below:","type":"control_textarea"},{"name":"isThe","qid":"18","text":"Is the patient currently taking any medications? If yes, please list them below:","type":"control_textarea"},{"name":"checkingMental","qid":"19","text":"Checking Mental State","type":"control_matrix"},{"name":"generalAppearance","qid":"20","text":"General Appearance","type":"control_radio"},{"name":"motorActivity","qid":"21","text":"Motor Activity","type":"control_radio"},{"name":"judgment","qid":"22","text":"Judgment","type":"control_radio"},{"name":"memory","qid":"23","text":"Memory","type":"control_radio"},{"name":"concentration","qid":"24","text":"Concentration","type":"control_radio"},{"name":"insight","qid":"25","text":"Insight","type":"control_radio"},{"name":"cognitive","qid":"26","text":"Cognitive","type":"control_radio"},{"name":"speech","qid":"27","text":"Speech","type":"control_radio"},{"name":"affect","qid":"28","text":"Affect","type":"control_radio"},{"name":"dailyPatterns","qid":"29","text":"Daily Patterns","type":"control_radio"},{"name":"patientId","qid":"30","text":"Patient ID","type":"control_textbox"},{"name":"fullName","qid":"31","text":"Full Name","type":"control_fullname"},{"name":"nickName","qid":"32","text":"Nick Name","type":"control_textbox"},{"name":"age","qid":"33","text":"Age","type":"control_number"},{"name":"dateOf","qid":"34","text":"Date of Birth","type":"control_datetime"},{"name":"gender","qid":"35","text":"Gender","type":"control_radio"},{"name":"phoneNumber","qid":"36","text":"Phone Number","type":"control_phone"},{"name":"address","qid":"37","text":"Address","type":"control_address"},{"name":"employmentStatus","qid":"38","subLabel":"Employed, Self-employed, unemployed","text":"Employment Status","type":"control_textbox"},{"name":"emergencyContact","qid":"39","text":"Emergency Contact Person","type":"control_fullname"},{"name":"emergencyContact40","qid":"40","text":"Emergency Contact Phone Number","type":"control_phone"},{"name":"race","qid":"41","text":"Race","type":"control_radio"},{"name":"assessmentStart","qid":"42","text":"Assessment Start Date\u002FTime","type":"control_datetime"},{"name":"assessmentEnd","qid":"43","text":"Assessment End Date\u002FTime","type":"control_datetime"},{"name":"primaryConcern","qid":"44","text":"Primary Concern (symptoms, duration, intensity)","type":"control_textarea"},{"name":"familyRelationshipinterpersonal","qid":"45","text":"Family Relationship\u002FInterpersonal (Kindly describe the social relationship of the patient to anyone.)","type":"control_textarea"},{"name":"input46","qid":"46","text":"Please fill-up the form below. If you have any questions, kindly email us at CodeMed.Group.Corp@outlook.com","type":"control_text"},{"name":"divider","qid":"47","text":"Divider","type":"control_divider"},{"name":"divider48","qid":"48","text":"Divider","type":"control_divider"},{"name":"email","qid":"49","subLabel":"example@example.com","text":"Email","type":"control_email"}]);}, 20); 
</script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotform.com/submit/231698163555566" method="post" name="form_231698163555566" id="231698163555566" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231698163555566" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httac htvam">
            <h1 id="header_1" class="form-header" data-component="header">Mental Health Assessment Form</h1>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_46">
        <div id="cid_46" class="form-input-wide" data-layout="full">
          <div id="text_46" class="form-html" data-component="text" tabindex="0">
            <p>Please fill-up the form below. If you have any questions, kindly email us at CodeMed.Group.Corp@outlook.com</p>
          </div>
        </div>
      </li>
      <li id="cid_3" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_3" class="form-header" data-component="header">Patient Information</h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_30"><label class="form-label form-label-left" id="label_30" for="input_30"> Patient ID </label>
        <div id="cid_30" class="form-input" data-layout="half"> <input type="text" id="input_30" name="q30_patientId" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_30" /> </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_31"><label class="form-label form-label-left" id="label_31" for="first_31"> Full Name </label>
        <div id="cid_31" class="form-input" data-layout="full">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_31" name="q31_fullName[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_31 given-name" size="10" value="" data-component="first" aria-labelledby="label_31 sublabel_31_first" /><label class="form-sub-label" for="first_31" id="sublabel_31_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_31" name="q31_fullName[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_31 family-name" size="15" value="" data-component="last" aria-labelledby="label_31 sublabel_31_last" /><label class="form-sub-label" for="last_31" id="sublabel_31_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_32"><label class="form-label form-label-left" id="label_32" for="input_32"> Nick Name </label>
        <div id="cid_32" class="form-input" data-layout="half"> <input type="text" id="input_32" name="q32_nickName" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_32" /> </div>
      </li>
      <li class="form-line" data-type="control_number" id="id_33"><label class="form-label form-label-left" id="label_33" for="input_33"> Age </label>
        <div id="cid_33" class="form-input" data-layout="half"> <input type="number" id="input_33" name="q33_age" data-type="input-number" class=" form-number-input form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder="e.g., 23" data-component="number" aria-labelledby="label_33" step="any" /> </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_34"><label class="form-label form-label-left" id="label_34" for="lite_mode_34"> Date of Birth </label>
        <div id="cid_34" class="form-input" data-layout="half">
          <div data-wrapper-react="true">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="month_34" name="q34_dateOf[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_34 sublabel_34_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_34" id="sublabel_34_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="day_34" name="q34_dateOf[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_34 sublabel_34_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_34" id="sublabel_34_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="year_34" name="q34_dateOf[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" autoComplete="off" aria-labelledby="label_34 sublabel_34_year" /><label class="form-sub-label" for="year_34" id="sublabel_34_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_34" size="12" data-maxlength="12" maxLength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_34 sublabel_34_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_34_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="No" data-version="v2" /><label class="form-sub-label" for="lite_mode_34" id="sublabel_34_litemode" style="min-height:13px" aria-hidden="false">Date</label></span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_35"><label class="form-label form-label-left" id="label_35" for="input_35"> Gender </label>
        <div id="cid_35" class="form-input" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_35" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_35" class="form-radio" id="input_35_0" name="q35_gender" value="Male" /><label id="label_input_35_0" for="input_35_0">Male</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_35" class="form-radio" id="input_35_1" name="q35_gender" value="Female" /><label id="label_input_35_1" for="input_35_1">Female</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_41"><label class="form-label form-label-left" id="label_41" for="input_41"> Race </label>
        <div id="cid_41" class="form-input" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_41" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio" id="input_41_0" name="q41_race" value="Indian" /><label id="label_input_41_0" for="input_41_0">Indian</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio" id="input_41_1" name="q41_race" value="Coloured" /><label id="label_input_41_1" for="input_41_1">Coloured</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio" id="input_41_2" name="q41_race" value="Black or African" /><label id="label_input_41_2" for="input_41_2">Black or African</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio" id="input_41_3" name="q41_race" value="White" /><label id="label_input_41_3" for="input_41_3">White</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_phone" id="id_36"><label class="form-label form-label-left" id="label_36" for="input_36_full"> Phone Number </label>
        <div id="cid_36" class="form-input" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_36_full" name="q36_phoneNumber[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[Fill Mask]" data-defaultvalue="" autoComplete="section-input_36 tel-national" style="width:310px" data-masked="true" value="" placeholder="000 000 0000" data-component="phone" aria-labelledby="label_36" /></span> </div>
      </li>
      <li class="form-line" data-type="control_email" id="id_49"><label class="form-label form-label-left" id="label_49" for="input_49"> Email </label>
        <div id="cid_49" class="form-input" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_49" name="q49_email" class="form-textbox validate[Email]" data-defaultvalue="" style="width:310px" size="310" value="" data-component="email" aria-labelledby="label_49 sublabel_input_49" /><label class="form-sub-label" for="input_49" id="sublabel_input_49" style="min-height:13px" aria-hidden="false">example@example.com</label></span> </div>
      </li>
      <li class="form-line" data-type="control_address" id="id_37"><label class="form-label form-label-left" id="label_37" for="input_37_addr_line1"> Address </label>
        <div id="cid_37" class="form-input" data-layout="full">
          <div summary="" class="form-address-table jsTest-addressField">
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_37_addr_line1" name="q37_address[addr_line1]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_37 address-line1" value="" data-component="address_line_1" aria-labelledby="label_37 sublabel_37_addr_line1" required="" /><label class="form-sub-label" for="input_37_addr_line1" id="sublabel_37_addr_line1" style="min-height:13px" aria-hidden="false">Street Address</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_37_addr_line2" name="q37_address[addr_line2]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_37 address-line2" value="" data-component="address_line_2" aria-labelledby="label_37 sublabel_37_addr_line2" /><label class="form-sub-label" for="input_37_addr_line2" id="sublabel_37_addr_line2" style="min-height:13px" aria-hidden="false">Street Address Line 2</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-city-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_37_city" name="q37_address[city]" class="form-textbox form-address-city" data-defaultvalue="" autoComplete="section-input_37 address-level2" value="" data-component="city" aria-labelledby="label_37 sublabel_37_city" required="" /><label class="form-sub-label" for="input_37_city" id="sublabel_37_city" style="min-height:13px" aria-hidden="false">City</label></span></span><span class="form-address-line form-address-state-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_37_state" name="q37_address[state]" class="form-textbox form-address-state" data-defaultvalue="" autoComplete="section-input_37 address-level1" value="" data-component="state" aria-labelledby="label_37 sublabel_37_state" required="" /><label class="form-sub-label" for="input_37_state" id="sublabel_37_state" style="min-height:13px" aria-hidden="false">State / Province</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-zip-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_37_postal" name="q37_address[postal]" class="form-textbox form-address-postal" data-defaultvalue="" autoComplete="section-input_37 postal-code" value="" data-component="zip" aria-labelledby="label_37 sublabel_37_postal" required="" /><label class="form-sub-label" for="input_37_postal" id="sublabel_37_postal" style="min-height:13px" aria-hidden="false">Postal / Zip Code</label></span></span></div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_38"><label class="form-label form-label-left" id="label_38" for="input_38"> Employment Status </label>
        <div id="cid_38" class="form-input" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_38" name="q38_employmentStatus" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_38 sublabel_input_38" /><label class="form-sub-label" for="input_38" id="sublabel_input_38" style="min-height:13px" aria-hidden="false">Employed, Self-employed, unemployed</label></span> </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_39"><label class="form-label form-label-left" id="label_39" for="first_39"> Emergency Contact Person </label>
        <div id="cid_39" class="form-input" data-layout="full">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_39" name="q39_emergencyContact[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_39 given-name" size="10" value="" data-component="first" aria-labelledby="label_39 sublabel_39_first" /><label class="form-sub-label" for="first_39" id="sublabel_39_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_39" name="q39_emergencyContact[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_39 family-name" size="15" value="" data-component="last" aria-labelledby="label_39 sublabel_39_last" /><label class="form-sub-label" for="last_39" id="sublabel_39_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_phone" id="id_40"><label class="form-label form-label-left" id="label_40" for="input_40_full"> Emergency Contact Phone Number </label>
        <div id="cid_40" class="form-input" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_40_full" name="q40_emergencyContact40[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[Fill Mask]" data-defaultvalue="" autoComplete="section-input_40 tel-national" style="width:310px" data-masked="true" value="" placeholder="000 000 0000" data-component="phone" aria-labelledby="label_40" /></span> </div>
      </li>
      <li id="cid_4" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_4" class="form-header" data-component="header">Mental Health Exam</h2>
          </div>
        </div>
      </li>
      <li class="form-line allowTime" data-type="control_datetime" id="id_42"><label class="form-label form-label-top form-label-auto" id="label_42" for="lite_mode_42"> Assessment Start Date/Time </label>
        <div id="cid_42" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true" class="extended">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="month_42" name="q42_assessmentStart[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_42 sublabel_42_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_42" id="sublabel_42_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="day_42" name="q42_assessmentStart[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_42 sublabel_42_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_42" id="sublabel_42_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="year_42" name="q42_assessmentStart[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" autoComplete="off" aria-labelledby="label_42 sublabel_42_year" /><label class="form-sub-label" for="year_42" id="sublabel_42_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_42" size="12" data-maxlength="12" maxLength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_42 sublabel_42_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_42_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="Yes" data-version="v2" /><label class="form-sub-label" for="lite_mode_42" id="sublabel_42_litemode" style="min-height:13px" aria-hidden="false">Date</label></span><span class="allowTime-container timeAMPM">
              <div data-wrapper-react="true"><span class="form-sub-label-container hasAMPM" style="vertical-align:top"><input type="text" class="time-dropdown form-textbox" id="input_42_timeInput" name="q42_assessmentStart[timeInput]" placeholder="HH : MM" aria-labelledby="label_42 sublabel_42_hour" data-mask="hh:MM" value="" data-version="v2" /><input type="hidden" class="form-hidden-time" id="input_42_hourSelect" name="q42_assessmentStart[hour]" /><input type="hidden" class="form-hidden-time" id="input_42_minuteSelect" name="q42_assessmentStart[min]" /><label data-seperate-translate="true" class="form-sub-label" for="input_42_timeInput" id="sublabel_42_hour" style="min-height:13px" aria-hidden="false">Hour Minutes</label></span><span class="form-sub-label-container" style="vertical-align:top"><select class="time-dropdown form-dropdown" id="input_42_ampm" name="q42_assessmentStart[ampm]" data-component="time-ampm" aria-labelledby="label_42 sublabel_42_ampm">
                    <option value="AM">AM</option>
                    <option selected="" value="PM">PM</option>
                  </select><label class="form-sub-label" for="input_42_ampm" id="sublabel_42_ampm" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false">AM/PM Option</label></span></div>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line allowTime" data-type="control_datetime" id="id_43"><label class="form-label form-label-top form-label-auto" id="label_43" for="lite_mode_43"> Assessment End Date/Time </label>
        <div id="cid_43" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true" class="extended">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="month_43" name="q43_assessmentEnd[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_43 sublabel_43_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_43" id="sublabel_43_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="day_43" name="q43_assessmentEnd[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_43 sublabel_43_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_43" id="sublabel_43_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="year_43" name="q43_assessmentEnd[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" autoComplete="off" aria-labelledby="label_43 sublabel_43_year" /><label class="form-sub-label" for="year_43" id="sublabel_43_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_43" size="12" data-maxlength="12" maxLength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_43 sublabel_43_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_43_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="Yes" data-version="v2" /><label class="form-sub-label" for="lite_mode_43" id="sublabel_43_litemode" style="min-height:13px" aria-hidden="false">Date</label></span><span class="allowTime-container timeAMPM">
              <div data-wrapper-react="true"><span class="form-sub-label-container hasAMPM" style="vertical-align:top"><input type="text" class="time-dropdown form-textbox" id="input_43_timeInput" name="q43_assessmentEnd[timeInput]" placeholder="HH : MM" aria-labelledby="label_43 sublabel_43_hour" data-mask="hh:MM" value="" data-version="v2" /><input type="hidden" class="form-hidden-time" id="input_43_hourSelect" name="q43_assessmentEnd[hour]" /><input type="hidden" class="form-hidden-time" id="input_43_minuteSelect" name="q43_assessmentEnd[min]" /><label data-seperate-translate="true" class="form-sub-label" for="input_43_timeInput" id="sublabel_43_hour" style="min-height:13px" aria-hidden="false">Hour Minutes</label></span><span class="form-sub-label-container" style="vertical-align:top"><select class="time-dropdown form-dropdown" id="input_43_ampm" name="q43_assessmentEnd[ampm]" data-component="time-ampm" aria-labelledby="label_43 sublabel_43_ampm">
                    <option value="AM">AM</option>
                    <option selected="" value="PM">PM</option>
                  </select><label class="form-sub-label" for="input_43_ampm" id="sublabel_43_ampm" style="border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;white-space:nowrap" aria-hidden="false">AM/PM Option</label></span></div>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_44"><label class="form-label form-label-top form-label-auto" id="label_44" for="input_44"> Primary Concern (symptoms, duration, intensity) </label>
        <div id="cid_44" class="form-input-wide" data-layout="full"> <textarea id="input_44" class="form-textarea" name="q44_primaryConcern" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_44"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_45"><label class="form-label form-label-top form-label-auto" id="label_45" for="input_45"> Family Relationship/Interpersonal (Kindly describe the social relationship of the patient to anyone.) </label>
        <div id="cid_45" class="form-input-wide" data-layout="full"> <textarea id="input_45" class="form-textarea" name="q45_familyRelationshipinterpersonal" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_45"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_48">
        <div id="cid_48" class="form-input-wide" data-layout="full">
          <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_20"><label class="form-label form-label-top form-label-auto" id="label_20" for="input_20"> General Appearance </label>
        <div id="cid_20" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_20" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_20" class="form-radio" id="input_20_0" name="q20_generalAppearance" value="Normal" /><label id="label_input_20_0" for="input_20_0">Normal</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_20" class="form-radio" id="input_20_1" name="q20_generalAppearance" value="Emaciated" /><label id="label_input_20_1" for="input_20_1">Emaciated</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_20" class="form-radio" id="input_20_2" name="q20_generalAppearance" value="Obese" /><label id="label_input_20_2" for="input_20_2">Obese</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_20" class="form-radio" id="input_20_3" name="q20_generalAppearance" value="Poor Hygiene" /><label id="label_input_20_3" for="input_20_3">Poor Hygiene</label></span><span class="form-radio-item formRadioOther"><input type="radio" class="form-radio-other form-radio" name="q20_generalAppearance" id="other_20" value="other" tabindex="0" aria-label="Other" /><label id="label_other_20" style="text-indent:0" for="other_20">Other</label><span id="other_20_input" class="other-input-container" style="display:none"><input type="text" class="form-radio-other-input form-textbox" name="q20_generalAppearance[other]" data-otherhint="Other" size="15" id="input_20" data-placeholder="Please type another option here" placeholder="Please type another option here" /></span></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_21"><label class="form-label form-label-top form-label-auto" id="label_21" for="input_21"> Motor Activity </label>
        <div id="cid_21" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_21" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_21" class="form-radio" id="input_21_0" name="q21_motorActivity" value="Normal" /><label id="label_input_21_0" for="input_21_0">Normal</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_21" class="form-radio" id="input_21_1" name="q21_motorActivity" value="Agitation" /><label id="label_input_21_1" for="input_21_1">Agitation</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_21" class="form-radio" id="input_21_2" name="q21_motorActivity" value="Repetitive Actions" /><label id="label_input_21_2" for="input_21_2">Repetitive Actions</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_21" class="form-radio" id="input_21_3" name="q21_motorActivity" value="Tremors" /><label id="label_input_21_3" for="input_21_3">Tremors</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_21" class="form-radio" id="input_21_4" name="q21_motorActivity" value="Distinct Posturing" /><label id="label_input_21_4" for="input_21_4">Distinct Posturing</label></span><span class="form-radio-item formRadioOther"><input type="radio" class="form-radio-other form-radio" name="q21_motorActivity" id="other_21" value="other" tabindex="0" aria-label="Other" /><label id="label_other_21" style="text-indent:0" for="other_21">Other</label><span id="other_21_input" class="other-input-container" style="display:none"><input type="text" class="form-radio-other-input form-textbox" name="q21_motorActivity[other]" data-otherhint="Other" size="15" id="input_21" data-placeholder="Please type another option here" placeholder="Please type another option here" /></span></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_22"><label class="form-label form-label-top form-label-auto" id="label_22" for="input_22"> Judgment </label>
        <div id="cid_22" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_22" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_22" class="form-radio" id="input_22_0" name="q22_judgment" value="Good" /><label id="label_input_22_0" for="input_22_0">Good</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_22" class="form-radio" id="input_22_1" name="q22_judgment" value="Fair" /><label id="label_input_22_1" for="input_22_1">Fair</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_22" class="form-radio" id="input_22_2" name="q22_judgment" value="Poor" /><label id="label_input_22_2" for="input_22_2">Poor</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_23"><label class="form-label form-label-top form-label-auto" id="label_23" for="input_23"> Memory </label>
        <div id="cid_23" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_23" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_23" class="form-radio" id="input_23_0" name="q23_memory" value="Intact" /><label id="label_input_23_0" for="input_23_0">Intact</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_23" class="form-radio" id="input_23_1" name="q23_memory" value="Poor Distant" /><label id="label_input_23_1" for="input_23_1">Poor Distant</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_23" class="form-radio" id="input_23_2" name="q23_memory" value="Poor Recent" /><label id="label_input_23_2" for="input_23_2">Poor Recent</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_24"><label class="form-label form-label-top form-label-auto" id="label_24" for="input_24"> Concentration </label>
        <div id="cid_24" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_24" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_24" class="form-radio" id="input_24_0" name="q24_concentration" value="Good" /><label id="label_input_24_0" for="input_24_0">Good</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_24" class="form-radio" id="input_24_1" name="q24_concentration" value="Distractible" /><label id="label_input_24_1" for="input_24_1">Distractible</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_24" class="form-radio" id="input_24_2" name="q24_concentration" value="Variable" /><label id="label_input_24_2" for="input_24_2">Variable</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_25"><label class="form-label form-label-top form-label-auto" id="label_25" for="input_25"> Insight </label>
        <div id="cid_25" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_25" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_25" class="form-radio" id="input_25_0" name="q25_insight" value="Good" /><label id="label_input_25_0" for="input_25_0">Good</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_25" class="form-radio" id="input_25_1" name="q25_insight" value="Fair" /><label id="label_input_25_1" for="input_25_1">Fair</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_25" class="form-radio" id="input_25_2" name="q25_insight" value="Poor" /><label id="label_input_25_2" for="input_25_2">Poor</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_26"><label class="form-label form-label-top form-label-auto" id="label_26" for="input_26"> Cognitive </label>
        <div id="cid_26" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_26" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_26" class="form-radio" id="input_26_0" name="q26_cognitive" value="Intact" /><label id="label_input_26_0" for="input_26_0">Intact</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_26" class="form-radio" id="input_26_1" name="q26_cognitive" value="Impaired" /><label id="label_input_26_1" for="input_26_1">Impaired</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_27"><label class="form-label form-label-top form-label-auto" id="label_27" for="input_27"> Speech </label>
        <div id="cid_27" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_27" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_27" class="form-radio" id="input_27_0" name="q27_speech" value="Normal" /><label id="label_input_27_0" for="input_27_0">Normal</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_27" class="form-radio" id="input_27_1" name="q27_speech" value="Pressured" /><label id="label_input_27_1" for="input_27_1">Pressured</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_27" class="form-radio" id="input_27_2" name="q27_speech" value="Slurred" /><label id="label_input_27_2" for="input_27_2">Slurred</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_27" class="form-radio" id="input_27_3" name="q27_speech" value="Soft" /><label id="label_input_27_3" for="input_27_3">Soft</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_27" class="form-radio" id="input_27_4" name="q27_speech" value="Stuttering" /><label id="label_input_27_4" for="input_27_4">Stuttering</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_27" class="form-radio" id="input_27_5" name="q27_speech" value="Hesitant" /><label id="label_input_27_5" for="input_27_5">Hesitant</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_28"><label class="form-label form-label-top form-label-auto" id="label_28" for="input_28"> Affect </label>
        <div id="cid_28" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_28" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_28" class="form-radio" id="input_28_0" name="q28_affect" value="Appropriate" /><label id="label_input_28_0" for="input_28_0">Appropriate</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_28" class="form-radio" id="input_28_1" name="q28_affect" value="Anxious" /><label id="label_input_28_1" for="input_28_1">Anxious</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_28" class="form-radio" id="input_28_2" name="q28_affect" value="Blunted" /><label id="label_input_28_2" for="input_28_2">Blunted</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_28" class="form-radio" id="input_28_3" name="q28_affect" value="Depressed" /><label id="label_input_28_3" for="input_28_3">Depressed</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_28" class="form-radio" id="input_28_4" name="q28_affect" value="Irritable" /><label id="label_input_28_4" for="input_28_4">Irritable</label></span><span class="form-radio-item formRadioOther"><input type="radio" class="form-radio-other form-radio" name="q28_affect" id="other_28" value="other" tabindex="0" aria-label="Other" /><label id="label_other_28" style="text-indent:0" for="other_28">Other</label><span id="other_28_input" class="other-input-container" style="display:none"><input type="text" class="form-radio-other-input form-textbox" name="q28_affect[other]" data-otherhint="Other" size="15" id="input_28" data-placeholder="Please type another option here" placeholder="Please type another option here" /></span></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_29"><label class="form-label form-label-top form-label-auto" id="label_29" for="input_29"> Daily Patterns </label>
        <div id="cid_29" class="form-input-wide" data-layout="full">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_29" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_29" class="form-radio" id="input_29_0" name="q29_dailyPatterns" value="Normal Sleep" /><label id="label_input_29_0" for="input_29_0">Normal Sleep</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_29" class="form-radio" id="input_29_1" name="q29_dailyPatterns" value="Poor Sleep" /><label id="label_input_29_1" for="input_29_1">Poor Sleep</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_29" class="form-radio" id="input_29_2" name="q29_dailyPatterns" value="Nightmares" /><label id="label_input_29_2" for="input_29_2">Nightmares</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_29" class="form-radio" id="input_29_3" name="q29_dailyPatterns" value="Fatigue" /><label id="label_input_29_3" for="input_29_3">Fatigue</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_29" class="form-radio" id="input_29_4" name="q29_dailyPatterns" value="Normal Appetite" /><label id="label_input_29_4" for="input_29_4">Normal Appetite</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_29" class="form-radio" id="input_29_5" name="q29_dailyPatterns" value="Social Withdrawal" /><label id="label_input_29_5" for="input_29_5">Social Withdrawal</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_divider" id="id_47">
        <div id="cid_47" class="form-input-wide" data-layout="full">
          <div class="divider" data-component="divider" style="border-bottom-width:1px;border-bottom-style:solid;border-color:#e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px"></div>
        </div>
      </li>
      <li class="form-line" data-type="control_matrix" id="id_19"><label class="form-label form-label-top form-label-auto" id="label_19" for="input_19"> Checking Mental State </label>
        <div id="cid_19" class="form-input-wide" data-layout="full">
          <table summary="" aria-labelledby="label_19" cellPadding="4" cellSpacing="0" class="form-matrix-table" style="width:600px" data-component="matrix">
            <tr class="form-matrix-tr form-matrix-header-tr">
              <th class="form-matrix-th" style="border:none"> </th>
              <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_19_col_0">Status</label></th>
              <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_19_col_1">Remarks</label></th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_19 label_19_row_0">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_19_row_0">Appearance</label></th>
              <td class="form-matrix-values"><input type="text" id="input_19_0_0" class="form-textbox" size="5" name="q19_checkingMental[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_0 label_19_row_0" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_19_0_1" class="form-textbox" size="5" name="q19_checkingMental[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_1 label_19_row_0" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_19 label_19_row_1">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_19_row_1">Behavior</label></th>
              <td class="form-matrix-values"><input type="text" id="input_19_1_0" class="form-textbox" size="5" name="q19_checkingMental[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_0 label_19_row_1" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_19_1_1" class="form-textbox" size="5" name="q19_checkingMental[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_1 label_19_row_1" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_19 label_19_row_2">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_19_row_2">Conversation</label></th>
              <td class="form-matrix-values"><input type="text" id="input_19_2_0" class="form-textbox" size="5" name="q19_checkingMental[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_0 label_19_row_2" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_19_2_1" class="form-textbox" size="5" name="q19_checkingMental[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_1 label_19_row_2" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_19 label_19_row_3">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_19_row_3">Affect</label></th>
              <td class="form-matrix-values"><input type="text" id="input_19_3_0" class="form-textbox" size="5" name="q19_checkingMental[3][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_0 label_19_row_3" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_19_3_1" class="form-textbox" size="5" name="q19_checkingMental[3][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_1 label_19_row_3" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_19 label_19_row_4">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_19_row_4">Perception</label></th>
              <td class="form-matrix-values"><input type="text" id="input_19_4_0" class="form-textbox" size="5" name="q19_checkingMental[4][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_0 label_19_row_4" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_19_4_1" class="form-textbox" size="5" name="q19_checkingMental[4][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_1 label_19_row_4" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_19 label_19_row_5">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_19_row_5">Cognition</label></th>
              <td class="form-matrix-values"><input type="text" id="input_19_5_0" class="form-textbox" size="5" name="q19_checkingMental[5][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_0 label_19_row_5" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_19_5_1" class="form-textbox" size="5" name="q19_checkingMental[5][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_19_col_1 label_19_row_5" aria-label="Cells Text Box" /></td>
            </tr>
          </table>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_14"><label class="form-label form-label-top form-label-auto" id="label_14" for="input_14"> Any current or history of violent behavior? If yes, please explain below when, how, and what happened. </label>
        <div id="cid_14" class="form-input-wide" data-layout="full"> <textarea id="input_14" class="form-textarea" name="q14_anyCurrent" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_14"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_15"><label class="form-label form-label-top form-label-auto" id="label_15" for="input_15"> Does the patient have any past or current medical condition that you would like to declare? (head injury, accident, etc.) </label>
        <div id="cid_15" class="form-input-wide" data-layout="full"> <textarea id="input_15" class="form-textarea" name="q15_doesThe" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_15"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_16"><label class="form-label form-label-top form-label-auto" id="label_16" for="input_16"> Is there any previous hospitalization? If yes, please explain the reason. If no, leave blank </label>
        <div id="cid_16" class="form-input-wide" data-layout="full"> <textarea id="input_16" class="form-textarea" name="q16_isThere" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_16"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_17"><label class="form-label form-label-top form-label-auto" id="label_17" for="input_17"> Does the patient have any allergies? If yes, please list them below: </label>
        <div id="cid_17" class="form-input-wide" data-layout="full"> <textarea id="input_17" class="form-textarea" name="q17_doesThe17" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_17"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_18"><label class="form-label form-label-top form-label-auto" id="label_18" for="input_18"> Is the patient currently taking any medications? If yes, please list them below: </label>
        <div id="cid_18" class="form-input-wide" data-layout="full"> <textarea id="input_18" class="form-textarea" name="q18_isThe" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_18"></textarea> </div>
      </li>
      <li id="cid_5" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_5" class="form-header" data-component="header">Diagnosis and Treatment</h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_12"><label class="form-label form-label-top form-label-auto" id="label_12" for="input_12"> Mental Health Diagnosis </label>
        <div id="cid_12" class="form-input-wide" data-layout="full"> <textarea id="input_12" class="form-textarea" name="q12_mentalHealth12" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_12"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_13"><label class="form-label form-label-top form-label-auto" id="label_13" for="input_13"> Plan of Treatment </label>
        <div id="cid_13" class="form-input-wide" data-layout="full"> <textarea id="input_13" class="form-textarea" name="q13_planOf13" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_13"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_matrix" id="id_11"><label class="form-label form-label-top" id="label_11" for="input_11"> Medications (If needed) </label>
        <div id="cid_11" class="form-input-wide" data-layout="full">
          <table summary="" aria-labelledby="label_11" cellPadding="4" cellSpacing="0" class="form-matrix-table" style="width:580px" data-component="matrix">
            <tr class="form-matrix-tr form-matrix-header-tr">
              <th class="form-matrix-th" style="border:none"> </th>
              <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0"><label id="label_11_col_0">Medication name</label></th>
              <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1"><label id="label_11_col_1">Dosage/Frequency</label></th>
              <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2"><label id="label_11_col_2">Time</label></th>
              <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3"><label id="label_11_col_3">Purpose</label></th>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_0">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_0">1</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_0_0" class="form-textbox" size="5" name="q11_medicationsif[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_0" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_0_1" class="form-textbox" size="5" name="q11_medicationsif[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_0" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_0_2" class="form-textbox" size="5" name="q11_medicationsif[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_0" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_0_3" class="form-textbox" size="5" name="q11_medicationsif[0][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_0" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_1">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_1">2</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_1_0" class="form-textbox" size="5" name="q11_medicationsif[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_1" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_1_1" class="form-textbox" size="5" name="q11_medicationsif[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_1" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_1_2" class="form-textbox" size="5" name="q11_medicationsif[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_1" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_1_3" class="form-textbox" size="5" name="q11_medicationsif[1][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_1" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_2">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_2">3</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_2_0" class="form-textbox" size="5" name="q11_medicationsif[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_2" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_2_1" class="form-textbox" size="5" name="q11_medicationsif[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_2" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_2_2" class="form-textbox" size="5" name="q11_medicationsif[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_2" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_2_3" class="form-textbox" size="5" name="q11_medicationsif[2][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_2" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_3">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_3">4</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_3_0" class="form-textbox" size="5" name="q11_medicationsif[3][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_3" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_3_1" class="form-textbox" size="5" name="q11_medicationsif[3][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_3" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_3_2" class="form-textbox" size="5" name="q11_medicationsif[3][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_3" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_3_3" class="form-textbox" size="5" name="q11_medicationsif[3][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_3" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_4">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_4">5</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_4_0" class="form-textbox" size="5" name="q11_medicationsif[4][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_4" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_4_1" class="form-textbox" size="5" name="q11_medicationsif[4][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_4" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_4_2" class="form-textbox" size="5" name="q11_medicationsif[4][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_4" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_4_3" class="form-textbox" size="5" name="q11_medicationsif[4][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_4" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_5">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_5">6</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_5_0" class="form-textbox" size="5" name="q11_medicationsif[5][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_5" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_5_1" class="form-textbox" size="5" name="q11_medicationsif[5][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_5" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_5_2" class="form-textbox" size="5" name="q11_medicationsif[5][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_5" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_5_3" class="form-textbox" size="5" name="q11_medicationsif[5][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_5" aria-label="Cells Text Box" /></td>
            </tr>
            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_11 label_11_row_6">
              <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_11_row_6">7</label></th>
              <td class="form-matrix-values"><input type="text" id="input_11_6_0" class="form-textbox" size="5" name="q11_medicationsif[6][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_0 label_11_row_6" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_6_1" class="form-textbox" size="5" name="q11_medicationsif[6][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_1 label_11_row_6" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_6_2" class="form-textbox" size="5" name="q11_medicationsif[6][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_2 label_11_row_6" aria-label="Cells Text Box" /></td>
              <td class="form-matrix-values"><input type="text" id="input_11_6_3" class="form-textbox" size="5" name="q11_medicationsif[6][]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_11_col_3 label_11_row_6" aria-label="Cells Text Box" /></td>
            </tr>
          </table>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_8"><label class="form-label form-label-top form-label-auto" id="label_8" for="first_8"> Health Care Worker Name </label>
        <div id="cid_8" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_8" name="q8_healthCare8[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_8 given-name" size="10" value="" data-component="first" aria-labelledby="label_8 sublabel_8_first" /><label class="form-sub-label" for="first_8" id="sublabel_8_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_8" name="q8_healthCare8[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_8 family-name" size="15" value="" data-component="last" aria-labelledby="label_8 sublabel_8_last" /><label class="form-sub-label" for="last_8" id="sublabel_8_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_textbox" id="id_7"><label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> Position Title </label>
        <div id="cid_7" class="form-input-wide" data-layout="half"> <input type="text" id="input_7" name="q7_positionTitle" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_7" /> </div>
      </li>
      <li class="form-line" data-type="control_signature" id="id_9"><label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Health Care Worker Signature </label>
        <div id="cid_9" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div id="signature_pad_9" class="signature-pad-wrapper" style="width:312px;height:116px">
              <div data-wrapper-react="true">
                <!--[if IE 7]><script type="text/javascript" src="/js/vendor/json2.js"></script><![endif]-->
              </div>
              <div class="signature-line signature-wrapper signature-placeholder" data-component="signature" style="width:312px;height:116px;position:relative">
                <div id="sig_pad_9" data-width="310" data-height="114" data-id="9" data-required="false" class="pad " aria-labelledby="label_9"></div><input type="hidden" name="q9_healthCare" class="output4" id="input_9" />
              </div><a style="margin-top:2px;font-size:10px;color:inherit;text-decoration:none;float:left" href="https://www.jotform.com/products/sign?utm_source=sign_cardform&amp;utm_content=form&amp;utm_medium=button&amp;utm_campaign=sign_form_integration" target="_blank">Powered by <b style="color:#7BB60F">Jotform Sign</b></a> <span class="clear-pad-btn clear-pad" role="button" tabindex="0">Clear</span>
            </div>
            <div data-wrapper-react="true">
              <script type="text/javascript">
                window.signatureForm = true
              </script>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_10"><label class="form-label form-label-top form-label-auto" id="label_10" for="lite_mode_10"> Date Signed </label>
        <div id="cid_10" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="month_10" name="q10_dateSigned[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_10 sublabel_10_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_10" id="sublabel_10_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="day_10" name="q10_dateSigned[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_10 sublabel_10_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_10" id="sublabel_10_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="year_10" name="q10_dateSigned[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" autoComplete="off" aria-labelledby="label_10 sublabel_10_year" /><label class="form-sub-label" for="year_10" id="sublabel_10_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_10" size="12" data-maxlength="12" maxLength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_10 sublabel_10_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_10_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="No" data-version="v2" /><label class="form-sub-label" for="lite_mode_10" id="sublabel_10_litemode" style="min-height:13px" aria-hidden="false">Date</label></span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide" data-layout="full">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><span> </span><button id="input_print_2" type="button" class="form-submit-print jf-form-buttons" data-component="button"><img src="https://cdn.jotfor.ms/images/printer.png" style="vertical-align:middle" alt="Print" /><span id="span_print_2" class="span_print">Print Form</span></button><button id="input_2" style="display:none !important" type="button" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button><button type="button" class="form-submit-button submit-button jf-form-buttons jsTest-submitField useJotformSign-button useJotformSign " data-component="button" data-content="">Submit</button></div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231698163555566" />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll("form[id='231698163555566'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "231698163555566-231698163555566";
    }
  </script>
  
</form></body>
</html><script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.42887"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.42887"></script>
