
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US"  class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231697986414572" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231697986414572" title="oEmbed Form">
<meta property="og:title" content="Professional Counseling Informed Consent Form" >
<meta property="og:url" content="https://form.jotform.com/231697986414572" >
<meta property="og:description" content="Please click the link to complete this form." >
<meta name="slack-app-id" content="AHNMASS8M">
<meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
<link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
<script>
          var favicon = document.querySelector('link[rel="shortcut icon"]');
          window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
          if(favicon && window.isDarkMode) {
              favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
          }
      </script><link rel="canonical" href="https://form.jotform.com/231697986414572" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>Professional Counseling Informed Consent Form</title>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.42887&themeRevisionID=63a2351435646363a50e3ee0"/>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.42887" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42887" />
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/stylebuilder/donationBox.css?v=3.3.42887">
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/
    .form-all {
      font-family: Inter, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Inter, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Inter, sans-serif;
    }
    .form-header-group {
      font-family: Inter, sans-serif;
    }
    .form-label {
      font-family: Inter, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  
    .form-all {
      max-width: 752px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 230px;
    }
  
    .form-all {
      font-size: 16px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 16px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: #fff;
    }
  
    .form-all {
      color: #2C3345;
    }
    .form-header-group .form-header {
      color: #2C3345;
    }
    .form-header-group .form-subHeader {
      color: #2C3345;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: #2C3345;
    }
    .form-sub-label {
      color: #464d5f;
    }
  
    .supernova {
      background-color: #a8e5d7;
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #fff;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }
  
  /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/.form-all {
    box-shadow : 0 0 32px rgba(42, 42, 42, 0.16);
}

.form-header-group.header-small {
    background-color : #a8e5d7;
    padding : 0 !important;
    margin: 0 -38px;
}

.form-header-group.header-small h3 {
    text-transform : uppercase;
    font-size : 32px;
    font-weight : 300;
    text-align: left;
    padding-left: 52px;
}

.form-header-group.header-small .form-subHeader {
    color : #499bbe;
    font-size : 24px;
    text-align: left;
    font-weight: 300;
    padding-left: 52px;
}

.form-header-group.hasImage.header-small {
  flex-direction: row !important;
}

.header-logo img {
  vertical-align: bottom;
}

button.form-submit-button,
button[type="submit"] {
  border: 0;
}

    /* Injected CSS Code */
</style>

<!--[if lt IE 9]><script src="https://cdn02.jotfor.ms/js/vendor/flashcanvas.js?3.3.42887" type="text/javascript"></script><![endif]-->
<script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.42887" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/js/vendor/jSignature.min.noconflict.js?3.3.42887" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/js/vendor/jotform.signaturepad.js?3.3.42887" type="text/javascript"></script>
<script src="https://cdn03.jotfor.ms/static/prototype.forms.js?3.3.42887" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/static/jotform.forms.js?3.3.42887" type="text/javascript"></script>
<script defer src="https://cdn02.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.42887" type="text/javascript"></script>
<script defer src="https://cdn03.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.42887" type="text/javascript"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
<script src="https://cdn01.jotfor.ms/js/payments/validategateways.js?v=3.3.42887" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/s/umd/c57b5d8704b/for-sign-form-integration.js?v=3.3.42887" type="text/javascript" defer></script>
<script type="text/javascript">	JotForm.newDefaultTheme = true;
	JotForm.extendsNewTheme = false;
	JotForm.singleProduct = false;
	JotForm.newPaymentUIForNewCreatedForms = false;
	JotForm.newPaymentUI = true;
	JotForm.useJotformSign = "Yes";

   JotForm.setConditions([{"action":[{"id":"action_1671709460325","visibility":"ShowMultiple","isError":false,"fields":["15","16"]}],"id":"1671709476303","index":"0","link":"Any","priority":"0","terms":[{"id":"term_1671709460325","field":"14","operator":"equals","value":"Yes","isError":false}],"type":"field"}]);	JotForm.clearFieldOnHide="disable";
	JotForm.submitError="jumpToFirstError";

	JotForm.init(function(){
	/*INIT-START*/
if (window.JotForm && JotForm.accessible) $('input_16').setAttribute('tabindex',0);

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("13", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("13", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
      JotForm.setPhoneMaskingValidator( 'input_12_full', '\u0023\u0023\u0023 \u0023\u0023\u0023 \u0023\u0023\u0023\u0023' );

 JotForm.calendarMonths = ["January","February","March","April","May","June","July","August","September","October","November","December"];
 JotForm.calendarDays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
 JotForm.calendarOther = {"today":"Today"};
 var languageOptions = document.querySelectorAll('#langList li'); 
 for(var langIndex = 0; langIndex < languageOptions.length; langIndex++) { 
   languageOptions[langIndex].on('click', function(e) { setTimeout(function(){ JotForm.setCalendar("5", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); }, 0); });
 } 
 JotForm.onTranslationsFetch(function() { JotForm.setCalendar("5", false, {"days":{"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"sunday":true},"future":true,"past":true,"custom":false,"ranges":false,"start":"","end":"","countSelectedDaysOnly":false}); });
      JotForm.alterTexts(undefined);
	/*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,{"name":"heading","qid":"1","text":"Professional Counseling Informed Consent Form","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"name":"patientName","qid":"3","text":"Patient Name","type":"control_fullname"},{"name":"patientSignature","qid":"4","text":"Patient Signature","type":"control_signature"},{"name":"dateSigned","qid":"5","text":"Date Signed","type":"control_datetime"},{"name":"clickTo","qid":"6","text":"Client's Rights\n1. Unless there is an emergency, all the therapy sessions are private and confidential with the exception of specific exceptions described below:\na. Child, elder or dependant abuse,\nb. Expressed threats of violence toward an ascertainable victim,\nc. Detailed planning or concrete signs of future suicide attempts,\nd. Sharing information is necessary to facilitate client care across multiple providers,\ne. Sharing information is necessary for the treatment,\nf. Requests from legal and administrative institutions.\n \n2. With the Client's prior written consent, the Counselor may legally speak to another healthcare provider or Client's family members in emergency situations. The Client may direct the Counselor to share information with whomever the Client desires, and the Client may change his\u002Fher mind anytime and revoke the permission.\n 3. The Counselor is allowed to keep brief notes of the therapy session which shall be kept in strict confidence. The Client may, at any time request a copy of the notes kept during the therapy session.\n4. The Client may ask questions on what to expect during and end result of the therapy.\n5. The Client may decline to proceed the therapy as to the techniques which may be conducted by the therapist.\n6. The Client may cease to continue therapy anytime, without any impediment and may return to therapy anytime.\n7. The therapist has the right to dismiss the Client from the course of therapy.","type":"control_text"},{"name":"clickTo7","qid":"7","text":"Acknowledgement\nI have reviewed this Professional Counseling Informed Consent Agreement. \nI accept this agreement and consent to counseling.","type":"control_text"},{"name":"clickTo8","qid":"8","text":"The Counseling Clinic\nWe are a licensed counseling clinic with several years of experience specializing in various counseling. We value our relationship with our clients and believe that such relationship is the beacon in the healing process. \nWe believe that each individual is unique and has his own way of addressing resolutions. Thus, we believe in a wellness model that helps our clients empower themselves by focusing on what works for them and not in a systematic approach that provides a generic procedure on working on a treatment. One's journey is not the same as the other.","type":"control_text"},null,{"name":"address","qid":"10","text":"Address","type":"control_address"},{"name":"email","qid":"11","subLabel":"example@example.com","text":"Email","type":"control_email"},{"name":"phoneNumber","qid":"12","text":"Phone Number","type":"control_phone"},{"name":"birthDate","qid":"13","text":"Birth Date","type":"control_datetime"},{"name":"isA","qid":"14","text":"Is a Parent\u002FGuardian filling out this form?","type":"control_radio"},{"name":"nameOf","qid":"15","text":"Name of the Parent\u002FGuardian","type":"control_fullname"},{"name":"relationTo","qid":"16","text":"Relation to the Client","type":"control_textbox"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,{"name":"heading","qid":"1","text":"Professional Counseling Informed Consent Form","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"name":"patientName","qid":"3","text":"Patient Name","type":"control_fullname"},{"name":"patientSignature","qid":"4","text":"Patient Signature","type":"control_signature"},{"name":"dateSigned","qid":"5","text":"Date Signed","type":"control_datetime"},{"name":"clickTo","qid":"6","text":"Client's Rights\n1. Unless there is an emergency, all the therapy sessions are private and confidential with the exception of specific exceptions described below:\na. Child, elder or dependant abuse,\nb. Expressed threats of violence toward an ascertainable victim,\nc. Detailed planning or concrete signs of future suicide attempts,\nd. Sharing information is necessary to facilitate client care across multiple providers,\ne. Sharing information is necessary for the treatment,\nf. Requests from legal and administrative institutions.\n \n2. With the Client's prior written consent, the Counselor may legally speak to another healthcare provider or Client's family members in emergency situations. The Client may direct the Counselor to share information with whomever the Client desires, and the Client may change his\u002Fher mind anytime and revoke the permission.\n 3. The Counselor is allowed to keep brief notes of the therapy session which shall be kept in strict confidence. The Client may, at any time request a copy of the notes kept during the therapy session.\n4. The Client may ask questions on what to expect during and end result of the therapy.\n5. The Client may decline to proceed the therapy as to the techniques which may be conducted by the therapist.\n6. The Client may cease to continue therapy anytime, without any impediment and may return to therapy anytime.\n7. The therapist has the right to dismiss the Client from the course of therapy.","type":"control_text"},{"name":"clickTo7","qid":"7","text":"Acknowledgement\nI have reviewed this Professional Counseling Informed Consent Agreement. \nI accept this agreement and consent to counseling.","type":"control_text"},{"name":"clickTo8","qid":"8","text":"The Counseling Clinic\nWe are a licensed counseling clinic with several years of experience specializing in various counseling. We value our relationship with our clients and believe that such relationship is the beacon in the healing process. \nWe believe that each individual is unique and has his own way of addressing resolutions. Thus, we believe in a wellness model that helps our clients empower themselves by focusing on what works for them and not in a systematic approach that provides a generic procedure on working on a treatment. One's journey is not the same as the other.","type":"control_text"},null,{"name":"address","qid":"10","text":"Address","type":"control_address"},{"name":"email","qid":"11","subLabel":"example@example.com","text":"Email","type":"control_email"},{"name":"phoneNumber","qid":"12","text":"Phone Number","type":"control_phone"},{"name":"birthDate","qid":"13","text":"Birth Date","type":"control_datetime"},{"name":"isA","qid":"14","text":"Is a Parent\u002FGuardian filling out this form?","type":"control_radio"},{"name":"nameOf","qid":"15","text":"Name of the Parent\u002FGuardian","type":"control_fullname"},{"name":"relationTo","qid":"16","text":"Relation to the Client","type":"control_textbox"}]);}, 20); 
</script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotform.com/submit/231697986414572" method="post" name="form_231697986414572" id="231697986414572" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231697986414572" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div style="display:table;width:100%">
          <div class="form-header-group hasImage header-small" data-imagealign="Right">
            <div class="header-text httal htvam">
              <h3 id="header_1" class="form-header" data-component="header">Professional Counseling Informed Consent Form</h3>
            </div>
            <div class="header-logo"><img src="https://www.jotform.com/uploads/ugurg/form_files/Counseling.63a484b30346e0.98327694.png" alt="Professional Counseling Informed Consent Form" width="340" class="header-logo-right" /></div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_fullname" id="id_3"><label class="form-label form-label-top form-label-auto" id="label_3" for="first_3"> Patient Name </label>
        <div id="cid_3" class="form-input-wide" data-layout="full">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_3" name="q3_patientName[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_3 given-name" size="10" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first" /><label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_3" name="q3_patientName[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_3 family-name" size="15" value="" data-component="last" aria-labelledby="label_3 sublabel_3_last" /><label class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_14"><label class="form-label form-label-top form-label-auto" id="label_14" for="input_14"> Is a Parent/Guardian filling out this form? </label>
        <div id="cid_14" class="form-input-wide" data-layout="full">
          <div class="form-single-column" role="group" aria-labelledby="label_14" data-component="radio"><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_14" class="form-radio" id="input_14_0" name="q14_isA" value="Yes" /><label id="label_input_14_0" for="input_14_0">Yes</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_14" class="form-radio" id="input_14_1" name="q14_isA" value="No" /><label id="label_input_14_1" for="input_14_1">No</label></span></div>
        </div>
      </li>
      <li class="form-line always-hidden form-field-hidden" style="display:none;" data-type="control_fullname" id="id_15"><label class="form-label form-label-top form-label-auto" id="label_15" for="first_15"> Name of the Parent/Guardian </label>
        <div id="cid_15" class="form-input-wide always-hidden" data-layout="full">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_15" name="q15_nameOf[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_15 given-name" size="10" value="" data-component="first" aria-labelledby="label_15 sublabel_15_first" /><label class="form-sub-label" for="first_15" id="sublabel_15_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_15" name="q15_nameOf[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_15 family-name" size="15" value="" data-component="last" aria-labelledby="label_15 sublabel_15_last" /><label class="form-sub-label" for="last_15" id="sublabel_15_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line always-hidden form-field-hidden" style="display:none;" data-type="control_textbox" id="id_16"><label class="form-label form-label-top form-label-auto" id="label_16" for="input_16"> Relation to the Client </label>
        <div id="cid_16" class="form-input-wide always-hidden" data-layout="half"> <input type="text" id="input_16" name="q16_relationTo" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_16" /> </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_13"><label class="form-label form-label-top form-label-auto" id="label_13" for="lite_mode_13"> Birth Date </label>
        <div id="cid_13" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="month_13" name="q13_birthDate[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_13 sublabel_13_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_13" id="sublabel_13_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="day_13" name="q13_birthDate[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_13 sublabel_13_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_13" id="sublabel_13_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="year_13" name="q13_birthDate[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" autoComplete="off" aria-labelledby="label_13 sublabel_13_year" /><label class="form-sub-label" for="year_13" id="sublabel_13_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_13" size="12" data-maxlength="12" maxLength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_13 sublabel_13_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_13_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="No" data-version="v2" /><label class="form-sub-label" for="lite_mode_13" id="sublabel_13_litemode" style="min-height:13px" aria-hidden="false">Date</label></span>
          </div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-1" data-type="control_email" id="id_11"><label class="form-label form-label-top form-label-auto" id="label_11" for="input_11"> Email </label>
        <div id="cid_11" class="form-input-wide" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_11" name="q11_email" class="form-textbox validate[Email]" data-defaultvalue="" style="width:310px" size="310" value="" data-component="email" aria-labelledby="label_11 sublabel_input_11" /><label class="form-sub-label" for="input_11" id="sublabel_input_11" style="min-height:13px" aria-hidden="false">example@example.com</label></span> </div>
      </li>
      <li class="form-line form-line-column form-col-2" data-type="control_phone" id="id_12"><label class="form-label form-label-top form-label-auto" id="label_12" for="input_12_full"> Phone Number </label>
        <div id="cid_12" class="form-input-wide" data-layout="half"> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_12_full" name="q12_phoneNumber[full]" data-type="mask-number" class="mask-phone-number form-textbox validate[Fill Mask]" data-defaultvalue="" autoComplete="section-input_12 tel-national" style="width:310px" data-masked="true" value="" placeholder="000 000 0000" data-component="phone" aria-labelledby="label_12" /></span> </div>
      </li>
      <li class="form-line" data-type="control_address" id="id_10"><label class="form-label form-label-top form-label-auto" id="label_10" for="input_10_addr_line1"> Address </label>
        <div id="cid_10" class="form-input-wide" data-layout="full">
          <div summary="" class="form-address-table jsTest-addressField">
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_10_addr_line1" name="q10_address[addr_line1]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_10 address-line1" value="" data-component="address_line_1" aria-labelledby="label_10 sublabel_10_addr_line1" required="" /><label class="form-sub-label" for="input_10_addr_line1" id="sublabel_10_addr_line1" style="min-height:13px" aria-hidden="false">Street Address</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_10_addr_line2" name="q10_address[addr_line2]" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_10 address-line2" value="" data-component="address_line_2" aria-labelledby="label_10 sublabel_10_addr_line2" /><label class="form-sub-label" for="input_10_addr_line2" id="sublabel_10_addr_line2" style="min-height:13px" aria-hidden="false">Street Address Line 2</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-city-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_10_city" name="q10_address[city]" class="form-textbox form-address-city" data-defaultvalue="" autoComplete="section-input_10 address-level2" value="" data-component="city" aria-labelledby="label_10 sublabel_10_city" required="" /><label class="form-sub-label" for="input_10_city" id="sublabel_10_city" style="min-height:13px" aria-hidden="false">City</label></span></span><span class="form-address-line form-address-state-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_10_state" name="q10_address[state]" class="form-textbox form-address-state" data-defaultvalue="" autoComplete="section-input_10 address-level1" value="" data-component="state" aria-labelledby="label_10 sublabel_10_state" required="" /><label class="form-sub-label" for="input_10_state" id="sublabel_10_state" style="min-height:13px" aria-hidden="false">State / Province</label></span></span></div>
            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-zip-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_10_postal" name="q10_address[postal]" class="form-textbox form-address-postal" data-defaultvalue="" autoComplete="section-input_10 postal-code" value="" data-component="zip" aria-labelledby="label_10 sublabel_10_postal" required="" /><label class="form-sub-label" for="input_10_postal" id="sublabel_10_postal" style="min-height:13px" aria-hidden="false">Postal / Zip Code</label></span></span></div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_8">
        <div id="cid_8" class="form-input-wide" data-layout="full">
          <div id="text_8" class="form-html" data-component="text" tabindex="0">
            <p style="text-align:center;"><strong>The Counseling Clinic</strong></p>
            <p>We are a licensed counseling clinic with several years of experience specializing in various counseling. We value our relationship with our clients and believe that such relationship is the beacon in the healing process. </p>
            <p>We believe that each individual is unique and has his own way of addressing resolutions. Thus, we believe in a wellness model that helps our clients empower themselves by focusing on what works for them and not in a systematic approach that provides a generic procedure on working on a treatment. One's journey is not the same as the other.</p>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_6">
        <div id="cid_6" class="form-input-wide" data-layout="full">
          <div id="text_6" class="form-html" data-component="text" tabindex="0">
            <p style="text-align:center;"><strong>Client's Rights</strong></p>
            <p style="text-align:left;padding-left:30px;">1. Unless there is an emergency, all the therapy sessions are private and confidential with the exception of specific exceptions described below:</p>
            <p style="text-align:left;padding-left:60px;">a. Child, elder or dependant abuse,</p>
            <p style="text-align:left;padding-left:60px;">b. Expressed threats of violence toward an ascertainable victim,</p>
            <p style="text-align:left;padding-left:60px;">c. Detailed planning or concrete signs of future suicide attempts,</p>
            <p style="text-align:left;padding-left:60px;">d. Sharing information is necessary to facilitate client care across multiple providers,</p>
            <p style="text-align:left;padding-left:60px;">e. Sharing information is necessary for the treatment,</p>
            <p style="text-align:left;padding-left:60px;">f. Requests from legal and administrative institutions.</p>
            <p style="text-align:left;padding-left:30px;"> </p>
            <p style="text-align:left;padding-left:30px;">2. With the Client's prior written consent, the Counselor may legally speak to another healthcare provider or Client's family members in emergency situations. The Client may direct the Counselor to share information with whomever the Client desires, and the Client may change his/her mind anytime and revoke the permission.</p>
            <p style="text-align:left;padding-left:30px;"> 3. The Counselor is allowed to keep brief notes of the therapy session which shall be kept in strict confidence. The Client may, at any time request a copy of the notes kept during the therapy session.</p>
            <p style="text-align:left;padding-left:30px;">4. The Client may ask questions on what to expect during and end result of the therapy.</p>
            <p style="text-align:left;padding-left:30px;">5. The Client may decline to proceed the therapy as to the techniques which may be conducted by the therapist.</p>
            <p style="text-align:left;padding-left:30px;">6. The Client may cease to continue therapy anytime, without any impediment and may return to therapy anytime.</p>
            <p style="text-align:left;padding-left:30px;">7. The therapist has the right to dismiss the Client from the course of therapy.</p>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_7">
        <div id="cid_7" class="form-input-wide" data-layout="full">
          <div id="text_7" class="form-html" data-component="text" tabindex="0">
            <p style="text-align:center;"><strong>Acknowledgement</strong></p>
            <p style="text-align:left;">I have reviewed this Professional Counseling Informed Consent Agreement. </p>
            <p>I accept this agreement and consent to counseling.</p>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_signature" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Patient Signature </label>
        <div id="cid_4" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div id="signature_pad_4" class="signature-pad-wrapper" style="width:312px;height:116px">
              <div data-wrapper-react="true">
                <!--[if IE 7]><script type="text/javascript" src="/js/vendor/json2.js"></script><![endif]-->
              </div>
              <div class="signature-line signature-wrapper signature-placeholder" data-component="signature" style="width:312px;height:116px;position:relative">
                <div id="sig_pad_4" data-width="310" data-height="114" data-id="4" data-required="false" class="pad " aria-labelledby="label_4"></div><input type="hidden" name="q4_patientSignature" class="output4" id="input_4" />
              </div><a style="margin-top:2px;font-size:10px;color:inherit;text-decoration:none;float:left" href="https://www.jotform.com/products/sign?utm_source=sign_cardform&amp;utm_content=form&amp;utm_medium=button&amp;utm_campaign=sign_form_integration" target="_blank">Powered by <b style="color:#7BB60F">Jotform Sign</b></a> <span class="clear-pad-btn clear-pad" role="button" tabindex="0">Clear</span>
            </div>
            <div data-wrapper-react="true">
              <script type="text/javascript">
                window.signatureForm = true
              </script>
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_datetime" id="id_5"><label class="form-label form-label-top form-label-auto" id="label_5" for="lite_mode_5"> Date Signed </label>
        <div id="cid_5" class="form-input-wide" data-layout="half">
          <div data-wrapper-react="true">
            <div style="display:none"><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="month_5" name="q5_dateSigned[month]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_5 sublabel_5_month" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="month_5" id="sublabel_5_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="day_5" name="q5_dateSigned[day]" size="2" data-maxlength="2" data-age="" maxLength="2" value="" autoComplete="off" aria-labelledby="label_5 sublabel_5_day" /><span class="date-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="day_5" id="sublabel_5_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><input type="tel" class="form-textbox validate[limitDate]" id="year_5" name="q5_dateSigned[year]" size="4" data-maxlength="4" data-age="" maxLength="4" value="" autoComplete="off" aria-labelledby="label_5 sublabel_5_year" /><label class="form-sub-label" for="year_5" id="sublabel_5_year" style="min-height:13px" aria-hidden="false">Year</label></span></div><span class="form-sub-label-container" style="vertical-align:top"><input type="text" class="form-textbox validate[limitDate, validateLiteDate]" id="lite_mode_5" size="12" data-maxlength="12" maxLength="12" data-age="" value="" data-format="mmddyyyy" data-seperator="-" placeholder="MM-DD-YYYY" autoComplete="off" aria-labelledby="label_5 sublabel_5_litemode" /><img class=" newDefaultTheme-dateIcon icon-liteMode" alt="Pick a Date" id="input_5_pick" src="https://cdn.jotfor.ms/images/calendar.png" data-component="datetime" aria-hidden="true" data-allow-time="No" data-version="v2" /><label class="form-sub-label" for="lite_mode_5" id="sublabel_5_litemode" style="min-height:13px" aria-hidden="false">Date</label></span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide" data-layout="full">
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_2" style="display:none !important" type="button" class="form-submit-button form-submit-button-black_blue submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button><button type="button" class="form-submit-button form-submit-button-black_blue submit-button jf-form-buttons jsTest-submitField useJotformSign-button useJotformSign " data-component="button" data-content="">Submit</button></div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231697986414572" />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll("form[id='231697986414572'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "231697986414572-231697986414572";
    }
  </script>
  
</form></body>
</html><script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.42887"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.42887"></script>
