
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F231698038596572" title="oEmbed Form">
<link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F231698038596572" title="oEmbed Form">
<meta property="og:title" content="Health Evaluation Form" >
<meta property="og:url" content="https://form.jotform.com/231698038596572" >
<meta property="og:description" content="Please click the link to complete this form." >
<meta name="slack-app-id" content="AHNMASS8M">
<meta property="og:image" content="https://www.jotform.com/uploads/edenthwala/form_files/CodeMed_Logo.64910d90ee9077.58315262.jpg" />
<link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
<script>
          var favicon = document.querySelector('link[rel="shortcut icon"]');
          window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
          if(favicon && window.isDarkMode) {
              favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
          }
      </script><link rel="canonical" href="https://form.jotform.com/231698038596572" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
<meta name="HandheldFriendly" content="true" />
<title>Health Evaluation Form</title>
<link href="https://cdn01.jotfor.ms/static/formCss.css?3.3.42927" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/nova.css?3.3.42927" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?v=3.3.42927&themeRevisionID=642aed92326239083fe53f08"/>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.42927" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/stylebuilder/donationBox.css?v=3.3.42927">
<style type="text/css">
    .form-label-left{
        width:390px;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:390px;
    }
    body, html{
        margin:0;
        padding:0;
        background:#fff;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:590px;
        color:#555 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:14px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: false;
    }

</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
/*PREFERENCES STYLE*/
    .form-all {
      font-family: Lucida Grande, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .form-all {
      max-width: 590px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 390px;
    }
  
    .form-all {
      font-size: 14px
    }
  
    .supernova .form-all, .form-all {
      background-color: #fff;
    }
  
    .form-all {
      color: #555;
    }
    .form-header-group .form-header {
      color: #555;
    }
    .form-header-group .form-subHeader {
      color: #555;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label,
    span.FITB .qb-checkbox-label,
    span.FITB .qb-radiobox-label,
    span.FITB .form-radio label,
    span.FITB .form-checkbox label,
    [data-blotid][data-type=checkbox] [data-labelid],
    [data-blotid][data-type=radiobox] [data-labelid],
    span.FITB-inptCont[data-type=checkbox] label,
    span.FITB-inptCont[data-type=radiobox] label {
      color: #555;
    }
    .form-sub-label {
      color: #6f6f6f;
    }
  
  .supernova {
    background-color: undefined;
  }
  .supernova body {
    background: transparent;
  }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: undefined;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    };
  
    .form-all {
      background-image: none;
    }
  
    .form-all {
      position: relative;
    }
    .form-all:before {
      content: "";
      background-image: url("https://www.jotform.com/uploads/edenthwala/form_files/CodeMed_Logo.64910d90ee9077.58315262.jpg");
      display: inline-block;
      height: 140px;
      position: absolute;
      background-size: 140px 140px;
      background-repeat: no-repeat;
      width: 100%;
    }
    .form-all {
      margin-top: 150px;
    }
    .form-all:before {
      top: -150px;
      background-position: top center;
      left: 0;
    }
          /*PREFERENCES STYLE*//*__INSPECT_SEPERATOR__*/.form-multiple-column .form-radio-item, .form-multiple-column .form-checkbox-item {
width: 240px !important;}
    /* Injected CSS Code */
</style>

<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/buttons/form-submit-button-simple_green.css?3.3.42927"/>
<script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.42927" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.42927" type="text/javascript"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
<script src="https://cdn03.jotfor.ms/js/payments/validategateways.js?v=3.3.42927" type="text/javascript"></script>
<script type="text/javascript">	JotForm.newDefaultTheme = false;
	JotForm.extendsNewTheme = false;
	JotForm.singleProduct = false;
	JotForm.newPaymentUIForNewCreatedForms = false;

   JotForm.setConditions([{"action":{"field":"421","visibility":"Show"},"link":"Any","terms":[{"field":"420","operator":"equals","value":"Yes"}],"type":"field"},{"action":{"field":"440","visibility":"Show"},"link":"Any","terms":[{"field":"439","operator":"equals","value":"Yes"}],"type":"field"},{"action":{"field":"444","visibility":"Show"},"link":"Any","terms":[{"field":"443","operator":"equals","value":"Yes"}],"type":"field"},{"action":{"field":"446","visibility":"Show"},"link":"Any","terms":[{"field":"445","operator":"equals","value":"Yes"}],"type":"field"},{"action":{"field":"460","visibility":"Show"},"link":"Any","terms":[{"field":"459","operator":"equals","value":"Cancer"}],"type":"field"},{"action":{"field":"461","visibility":"Show"},"link":"Any","terms":[{"field":"459","operator":"equals","value":"Other"}],"type":"field"},{"action":{"field":"465","visibility":"Hide"},"link":"Any","terms":[{"field":"464","operator":"equals","value":"Never"}],"type":"field"},{"action":{"field":"467","visibility":"Show"},"link":"Any","terms":[{"field":"466","operator":"equals","value":"Yes"}],"type":"field"},{"action":{"field":"474","visibility":"Show"},"link":"Any","terms":[{"field":"473","operator":"equals","value":"Yes"}],"type":"field"}]);	JotForm.submitError="jumpToFirstError";

	JotForm.init(function(){
	/*INIT-START*/
      setTimeout(function() {
          $('input_539').hint('ex: myname@example.com');
       }, 20);
if (window.JotForm && JotForm.accessible) $('input_428').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_426').setAttribute('tabindex',0);
      setTimeout(function() {
          $('input_426').hint('xxx.x cms');
       }, 20);
if (window.JotForm && JotForm.accessible) $('input_427').setAttribute('tabindex',0);
      setTimeout(function() {
          $('input_427').hint('xx.xx kgs');
       }, 20);
    $('input_429').slider({width:'80', maxValue: '10', value: '0'});
    $('input_430').slider({width:'80', maxValue: '10', value: '0'});
    $('input_431').slider({width:'80', maxValue: '10', value: '0'});
if (window.JotForm && JotForm.accessible) $('input_434').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_440').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_441').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_442').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_447').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_461').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_465').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_467').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_468').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_472').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_474').setAttribute('tabindex',0);
if (window.JotForm && JotForm.accessible) $('input_410').setAttribute('tabindex',0);
      setTimeout(function() {
          $('input_421').hint(' myname@example.com.au');
       }, 20);
	/*INIT-END*/
	});

   JotForm.prepareCalculationsOnTheFly([null,null,{"name":"submit","qid":"2","text":"Finish","type":"control_button"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"frequencyOf","qid":"374","text":"Frequency of exercise (days per week):","type":"control_radio"},{"name":"vegetarianOr","qid":"375","text":"Vegetarian or vegen:","type":"control_dropdown"},{"name":"age50","qid":"376","text":"Age \u003E50 years:","type":"control_dropdown"},{"name":"planningTo","qid":"377","text":"Planning to have a baby in the next 3-6 months:","type":"control_dropdown"},{"name":"pregnantOr378","qid":"378","text":"Pregnant or breastfeeding:","type":"control_dropdown"},null,{"name":"doYou380","qid":"380","text":"Do you diet often?:","type":"control_dropdown"},{"name":"areYou381","qid":"381","text":"Are you unhappy with your weight?:","type":"control_dropdown"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"doYou410","qid":"410","text":"Do you have a family history of diabetes, cardiovascular disease, cancer, or any other major illness?:","type":"control_textarea"},{"name":"pageBreak411","qid":"411","text":"Page Break","type":"control_pagebreak"},null,{"name":"pageBreak413","qid":"413","text":"Page Break","type":"control_pagebreak"},null,null,null,null,{"name":"pageBreak418","qid":"418","text":"Page Break","type":"control_pagebreak"},null,{"name":"wouldYou","qid":"420","text":"Would you like us to E-mail you a copy of your HAQ?","type":"control_dropdown"},{"name":"yourPreferred","qid":"421","text":"Your Preferred E-mail Address","type":"control_email"},null,{"name":"haqUnique","qid":"423","text":"HE- Unique ID","type":"control_autoincrement"},{"name":"whatAre424","qid":"424","text":"What are the main reasons you are seeking health care?","type":"control_checkbox"},null,{"name":"height426","qid":"426","text":"Height if known","type":"control_textbox"},{"name":"weight","qid":"427","text":"Weight if known","type":"control_textbox"},{"name":"nameOf428","qid":"428","text":"Name of Doctor or other health professionals you are currently seeing","type":"control_textarea"},{"name":"howDo429","qid":"429","text":"How do you rate your current level of health","type":"control_slider"},{"name":"howDo","qid":"430","text":"How do you rate your current level of energy or vitality","type":"control_slider"},{"name":"howDo431","qid":"431","text":"How do you rate your current stress levels","type":"control_slider"},null,null,{"name":"howMany","qid":"434","text":"How many hours sleep do you get a night?","type":"control_textbox"},{"name":"doYou435","qid":"435","text":"Do you have trouble getting to sleep?","type":"control_dropdown"},{"name":"doYou436","qid":"436","text":"Do you wake often, or get woken easily?","type":"control_dropdown"},{"name":"doYou437","qid":"437","text":"Do you have to go to the bathroom during the night?","type":"control_dropdown"},{"name":"doYou438","qid":"438","text":"Do you snore or have breathing problems during sleep?","type":"control_dropdown"},{"name":"doYou439","qid":"439","text":"Do you have known allergies?","type":"control_dropdown"},{"name":"pleaseList440","qid":"440","text":"Please list any known allergies","type":"control_textarea"},{"name":"pleaseList441","qid":"441","text":"Please list any medications you are currently taking (e.g. warfarin, contraceptives, laxatives)","type":"control_textarea"},{"name":"pleaseList","qid":"442","text":"Please list any supplements you are currently taking","type":"control_textarea"},null,null,null,null,{"name":"doYou447","qid":"447","text":"Do you have a main health complaint? Please describe.","type":"control_textarea"},null,null,null,null,null,null,null,null,null,null,null,{"name":"areThere","qid":"459","text":"Are there any of the following medical conditions in your family history that you are aware of? Please tick all that apply.","type":"control_checkbox"},null,{"name":"additionalInfo","qid":"461","text":"Additional info you might want to share","type":"control_textarea"},null,null,{"name":"doYou464","qid":"464","text":"Do you exercise?","type":"control_radio"},{"name":"pleaseList465","qid":"465","text":"Please list the types of exercise you do regularly","type":"control_textarea"},{"name":"doYou466","qid":"466","text":"Do you smoke?","type":"control_dropdown"},{"name":"howMany467","qid":"467","text":"How many per wk?","type":"control_textbox"},{"name":"pleaseList468","qid":"468","text":"Please list any food allergies \u002F intolerances that you are aware of?","type":"control_textarea"},{"name":"doYou469","qid":"469","text":"Do you take recreational drugs?","type":"control_dropdown"},null,null,{"name":"howMany472","qid":"472","text":"How many glasses of water do you have a day?","type":"control_textbox"},null,{"name":"howMany474","qid":"474","text":"How many per week?","type":"control_textbox"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"clickTo526","qid":"526","text":"The following three questions: 1 - 10 (1=poor \u002F 10=excellent)","type":"control_text"},null,null,null,{"name":"pageBreak530","qid":"530","text":"Page Break","type":"control_pagebreak"},{"name":"pageBreak531","qid":"531","text":"Page Break","type":"control_pagebreak"},null,{"name":"clickTo533","qid":"533","text":"HEALTH EVALUATION FORM","type":"control_head"},null,{"name":"clickTo535","qid":"535","text":"GENERAL INFORMATION","type":"control_head"},{"name":"phoneNumber536","qid":"536","text":"Phone Number","type":"control_phone"},{"name":"gender","qid":"537","text":"Gender","type":"control_radio"},{"name":"fullName538","qid":"538","text":"Full Name","type":"control_fullname"},{"name":"email539","qid":"539","text":"E-mail","type":"control_email"},{"name":"dateOf540","qid":"540","text":"Date of Birth","type":"control_birthdate"},{"name":"clickTo541","qid":"541","text":"Next: Diet and lifestyle  . .","type":"control_head"},{"name":"doYou542","qid":"542","text":"Do you drink alcohol?","type":"control_radio"},{"name":"clickTo","qid":"543","text":"Patient health history","type":"control_head"}]);
   setTimeout(function() {
JotForm.paymentExtrasOnTheFly([null,null,{"name":"submit","qid":"2","text":"Finish","type":"control_button"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"frequencyOf","qid":"374","text":"Frequency of exercise (days per week):","type":"control_radio"},{"name":"vegetarianOr","qid":"375","text":"Vegetarian or vegen:","type":"control_dropdown"},{"name":"age50","qid":"376","text":"Age \u003E50 years:","type":"control_dropdown"},{"name":"planningTo","qid":"377","text":"Planning to have a baby in the next 3-6 months:","type":"control_dropdown"},{"name":"pregnantOr378","qid":"378","text":"Pregnant or breastfeeding:","type":"control_dropdown"},null,{"name":"doYou380","qid":"380","text":"Do you diet often?:","type":"control_dropdown"},{"name":"areYou381","qid":"381","text":"Are you unhappy with your weight?:","type":"control_dropdown"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"doYou410","qid":"410","text":"Do you have a family history of diabetes, cardiovascular disease, cancer, or any other major illness?:","type":"control_textarea"},{"name":"pageBreak411","qid":"411","text":"Page Break","type":"control_pagebreak"},null,{"name":"pageBreak413","qid":"413","text":"Page Break","type":"control_pagebreak"},null,null,null,null,{"name":"pageBreak418","qid":"418","text":"Page Break","type":"control_pagebreak"},null,{"name":"wouldYou","qid":"420","text":"Would you like us to E-mail you a copy of your HAQ?","type":"control_dropdown"},{"name":"yourPreferred","qid":"421","text":"Your Preferred E-mail Address","type":"control_email"},null,{"name":"haqUnique","qid":"423","text":"HE- Unique ID","type":"control_autoincrement"},{"name":"whatAre424","qid":"424","text":"What are the main reasons you are seeking health care?","type":"control_checkbox"},null,{"name":"height426","qid":"426","text":"Height if known","type":"control_textbox"},{"name":"weight","qid":"427","text":"Weight if known","type":"control_textbox"},{"name":"nameOf428","qid":"428","text":"Name of Doctor or other health professionals you are currently seeing","type":"control_textarea"},{"name":"howDo429","qid":"429","text":"How do you rate your current level of health","type":"control_slider"},{"name":"howDo","qid":"430","text":"How do you rate your current level of energy or vitality","type":"control_slider"},{"name":"howDo431","qid":"431","text":"How do you rate your current stress levels","type":"control_slider"},null,null,{"name":"howMany","qid":"434","text":"How many hours sleep do you get a night?","type":"control_textbox"},{"name":"doYou435","qid":"435","text":"Do you have trouble getting to sleep?","type":"control_dropdown"},{"name":"doYou436","qid":"436","text":"Do you wake often, or get woken easily?","type":"control_dropdown"},{"name":"doYou437","qid":"437","text":"Do you have to go to the bathroom during the night?","type":"control_dropdown"},{"name":"doYou438","qid":"438","text":"Do you snore or have breathing problems during sleep?","type":"control_dropdown"},{"name":"doYou439","qid":"439","text":"Do you have known allergies?","type":"control_dropdown"},{"name":"pleaseList440","qid":"440","text":"Please list any known allergies","type":"control_textarea"},{"name":"pleaseList441","qid":"441","text":"Please list any medications you are currently taking (e.g. warfarin, contraceptives, laxatives)","type":"control_textarea"},{"name":"pleaseList","qid":"442","text":"Please list any supplements you are currently taking","type":"control_textarea"},null,null,null,null,{"name":"doYou447","qid":"447","text":"Do you have a main health complaint? Please describe.","type":"control_textarea"},null,null,null,null,null,null,null,null,null,null,null,{"name":"areThere","qid":"459","text":"Are there any of the following medical conditions in your family history that you are aware of? Please tick all that apply.","type":"control_checkbox"},null,{"name":"additionalInfo","qid":"461","text":"Additional info you might want to share","type":"control_textarea"},null,null,{"name":"doYou464","qid":"464","text":"Do you exercise?","type":"control_radio"},{"name":"pleaseList465","qid":"465","text":"Please list the types of exercise you do regularly","type":"control_textarea"},{"name":"doYou466","qid":"466","text":"Do you smoke?","type":"control_dropdown"},{"name":"howMany467","qid":"467","text":"How many per wk?","type":"control_textbox"},{"name":"pleaseList468","qid":"468","text":"Please list any food allergies \u002F intolerances that you are aware of?","type":"control_textarea"},{"name":"doYou469","qid":"469","text":"Do you take recreational drugs?","type":"control_dropdown"},null,null,{"name":"howMany472","qid":"472","text":"How many glasses of water do you have a day?","type":"control_textbox"},null,{"name":"howMany474","qid":"474","text":"How many per week?","type":"control_textbox"},null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,{"name":"clickTo526","qid":"526","text":"The following three questions: 1 - 10 (1=poor \u002F 10=excellent)","type":"control_text"},null,null,null,{"name":"pageBreak530","qid":"530","text":"Page Break","type":"control_pagebreak"},{"name":"pageBreak531","qid":"531","text":"Page Break","type":"control_pagebreak"},null,{"name":"clickTo533","qid":"533","text":"HEALTH EVALUATION FORM","type":"control_head"},null,{"name":"clickTo535","qid":"535","text":"GENERAL INFORMATION","type":"control_head"},{"name":"phoneNumber536","qid":"536","text":"Phone Number","type":"control_phone"},{"name":"gender","qid":"537","text":"Gender","type":"control_radio"},{"name":"fullName538","qid":"538","text":"Full Name","type":"control_fullname"},{"name":"email539","qid":"539","text":"E-mail","type":"control_email"},{"name":"dateOf540","qid":"540","text":"Date of Birth","type":"control_birthdate"},{"name":"clickTo541","qid":"541","text":"Next: Diet and lifestyle  . .","type":"control_head"},{"name":"doYou542","qid":"542","text":"Do you drink alcohol?","type":"control_radio"},{"name":"clickTo","qid":"543","text":"Patient health history","type":"control_head"}]);}, 20); 
</script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotform.com/submit/231698038596572" method="post" name="form_231698038596572" id="231698038596572" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231698038596572" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_533" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httal htvam">
            <h1 id="header_533" class="form-header" data-component="header">HEALTH EVALUATION FORM</h1>
            <div id="subHeader_533" class="form-subHeader">The following questionaire is a comprehensive look at your health. It will take about 5 minutes to complete</div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_fullname" id="id_538"><label class="form-label form-label-top form-label-auto" id="label_538" for="first_538"> Full Name<span class="form-required">*</span> </label>
        <div id="cid_538" class="form-input-wide jf-required">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_538" name="q538_fullName538[first]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_538 given-name" size="10" value="" data-component="first" aria-labelledby="label_538 sublabel_538_first" required="" /><label class="form-sub-label" for="first_538" id="sublabel_538_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_538" name="q538_fullName538[last]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_538 family-name" size="15" value="" data-component="last" aria-labelledby="label_538 sublabel_538_last" required="" /><label class="form-sub-label" for="last_538" id="sublabel_538_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-1 jf-required" data-type="control_radio" id="id_537"><label class="form-label form-label-top" id="label_537" for="input_537"> Gender<span class="form-required">*</span> </label>
        <div id="cid_537" class="form-input-wide jf-required">
          <div class="form-single-column" role="group" aria-labelledby="label_537" data-component="radio"><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_537" class="form-radio validate[required]" id="input_537_0" name="q537_gender" value="Male" required="" /><label id="label_input_537_0" for="input_537_0">Male</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_537" class="form-radio validate[required]" id="input_537_1" name="q537_gender" value="Female" required="" /><label id="label_input_537_1" for="input_537_1">Female</label></span></div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-2 jf-required" data-type="control_email" id="id_539"><label class="form-label form-label-top" id="label_539" for="input_539"> E-mail<span class="form-required">*</span> </label>
        <div id="cid_539" class="form-input-wide jf-required"> <input type="email" id="input_539" name="q539_email539" class="form-textbox validate[required, Email]" data-defaultvalue="" size="30" value="" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_539" required="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_phone" id="id_536"><label class="form-label form-label-top form-label-auto" id="label_536" for="input_536_area"> Phone Number<span class="form-required">*</span> </label>
        <div id="cid_536" class="form-input-wide jf-required">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="areaCode"><input type="tel" id="input_536_area" name="q536_phoneNumber536[area]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_536 tel-area-code" value="" data-component="areaCode" aria-labelledby="label_536 sublabel_536_area" required="" /><span class="phone-separate" aria-hidden="true"> -</span><label class="form-sub-label" for="input_536_area" id="sublabel_536_area" style="min-height:13px" aria-hidden="false">Area Code</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="phone"><input type="tel" id="input_536_phone" name="q536_phoneNumber536[phone]" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_536 tel-local" value="" data-component="phone" aria-labelledby="label_536 sublabel_536_phone" required="" /><label class="form-sub-label" for="input_536_phone" id="sublabel_536_phone" style="min-height:13px" aria-hidden="false">Phone Number</label></span></div>
        </div>
      </li>
      <li id="cid_418" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_418" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Back</button></div>
          <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_418" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Begin</button></div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_418"></div>
        </div>
      </li>
    </ul>
    <ul class="form-section page-section" style="display:none;">
      <li id="cid_535" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_535" class="form-header" data-component="header">GENERAL INFORMATION</h2>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_428"><label class="form-label form-label-top form-label-auto" id="label_428" for="input_428"> Name of Doctor or other health professionals you are currently seeing </label>
        <div id="cid_428" class="form-input-wide"> <textarea id="input_428" class="form-textarea" name="q428_nameOf428" cols="40" rows="3" data-component="textarea" aria-labelledby="label_428"></textarea> </div>
      </li>
      <li class="form-line form-line-column form-col-1" data-type="control_birthdate" id="id_540"><label class="form-label form-label-top" id="label_540" for="input_540"> Date of Birth </label>
        <div id="cid_540" class="form-input-wide">
          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"><select name="q540_dateOf540[month]" id="input_540_month" class="form-dropdown" data-component="birthdate-month" aria-labelledby="label_540 sublabel_540_month">
                <option></option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select><label class="form-sub-label" for="input_540_month" id="sublabel_540_month" style="min-height:13px" aria-hidden="false">Month</label></span><span class="form-sub-label-container" style="vertical-align:top"><select name="q540_dateOf540[day]" id="input_540_day" class="form-dropdown" data-component="birthdate-day" aria-labelledby="label_540 sublabel_540_day">
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select><label class="form-sub-label" for="input_540_day" id="sublabel_540_day" style="min-height:13px" aria-hidden="false">Day</label></span><span class="form-sub-label-container" style="vertical-align:top"><select name="q540_dateOf540[year]" id="input_540_year" class="form-dropdown" data-component="birthdate-year" aria-labelledby="label_540 sublabel_540_year">
                <option></option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1980">1980</option>
                <option value="1979">1979</option>
                <option value="1978">1978</option>
                <option value="1977">1977</option>
                <option value="1976">1976</option>
                <option value="1975">1975</option>
                <option value="1974">1974</option>
                <option value="1973">1973</option>
                <option value="1972">1972</option>
                <option value="1971">1971</option>
                <option value="1970">1970</option>
                <option value="1969">1969</option>
                <option value="1968">1968</option>
                <option value="1967">1967</option>
                <option value="1966">1966</option>
                <option value="1965">1965</option>
                <option value="1964">1964</option>
                <option value="1963">1963</option>
                <option value="1962">1962</option>
                <option value="1961">1961</option>
                <option value="1960">1960</option>
                <option value="1959">1959</option>
                <option value="1958">1958</option>
                <option value="1957">1957</option>
                <option value="1956">1956</option>
                <option value="1955">1955</option>
                <option value="1954">1954</option>
                <option value="1953">1953</option>
                <option value="1952">1952</option>
                <option value="1951">1951</option>
                <option value="1950">1950</option>
                <option value="1949">1949</option>
                <option value="1948">1948</option>
                <option value="1947">1947</option>
                <option value="1946">1946</option>
                <option value="1945">1945</option>
                <option value="1944">1944</option>
                <option value="1943">1943</option>
                <option value="1942">1942</option>
                <option value="1941">1941</option>
                <option value="1940">1940</option>
                <option value="1939">1939</option>
                <option value="1938">1938</option>
                <option value="1937">1937</option>
                <option value="1936">1936</option>
                <option value="1935">1935</option>
                <option value="1934">1934</option>
                <option value="1933">1933</option>
                <option value="1932">1932</option>
                <option value="1931">1931</option>
                <option value="1930">1930</option>
                <option value="1929">1929</option>
                <option value="1928">1928</option>
                <option value="1927">1927</option>
                <option value="1926">1926</option>
                <option value="1925">1925</option>
                <option value="1924">1924</option>
                <option value="1923">1923</option>
                <option value="1922">1922</option>
                <option value="1921">1921</option>
                <option value="1920">1920</option>
              </select><label class="form-sub-label" for="input_540_year" id="sublabel_540_year" style="min-height:13px" aria-hidden="false">Year</label></span></div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-2" data-type="control_textbox" id="id_426"><label class="form-label form-label-top" id="label_426" for="input_426"> Height if known </label>
        <div id="cid_426" class="form-input-wide"> <input type="text" id="input_426" name="q426_height426" data-type="input-textbox" class="form-textbox validate[AlphaNumeric]" data-defaultvalue="" size="10" value="" placeholder="xxx.x cms" data-component="textbox" aria-labelledby="label_426" /> </div>
      </li>
      <li class="form-line form-line-column form-col-3" data-type="control_textbox" id="id_427"><label class="form-label form-label-top" id="label_427" for="input_427"> Weight if known </label>
        <div id="cid_427" class="form-input-wide"> <input type="text" id="input_427" name="q427_weight" data-type="input-textbox" class="form-textbox validate[AlphaNumeric]" data-defaultvalue="" size="20" value="" placeholder="xx.xx kgs" data-component="textbox" aria-labelledby="label_427" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_checkbox" id="id_424"><label class="form-label form-label-top form-label-auto" id="label_424" for="input_424"> What are the main reasons you are seeking health care?<span class="form-required">*</span> </label>
        <div id="cid_424" class="form-input-wide jf-required">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_424" data-component="checkbox"><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_0" name="q424_whatAre424[]" value="Weight loss" required="" /><label id="label_input_424_0" for="input_424_0">Weight loss</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_1" name="q424_whatAre424[]" value="Detox" required="" /><label id="label_input_424_1" for="input_424_1">Detox</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_2" name="q424_whatAre424[]" value="Disease Prevention" required="" /><label id="label_input_424_2" for="input_424_2">Disease Prevention</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_3" name="q424_whatAre424[]" value="Pre-conception &amp; Pregnancy Care" required="" /><label id="label_input_424_3" for="input_424_3">Pre-conception & Pregnancy Care</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_4" name="q424_whatAre424[]" value="Digestive Support" required="" /><label id="label_input_424_4" for="input_424_4">Digestive Support</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_5" name="q424_whatAre424[]" value="Cardiovascular Protection" required="" /><label id="label_input_424_5" for="input_424_5">Cardiovascular Protection</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_6" name="q424_whatAre424[]" value="Stress Management" required="" /><label id="label_input_424_6" for="input_424_6">Stress Management</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_7" name="q424_whatAre424[]" value="Dietary Advice" required="" /><label id="label_input_424_7" for="input_424_7">Dietary Advice</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_8" name="q424_whatAre424[]" value="Energy" required="" /><label id="label_input_424_8" for="input_424_8">Energy</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_9" name="q424_whatAre424[]" value="Immune System" required="" /><label id="label_input_424_9" for="input_424_9">Immune System</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_10" name="q424_whatAre424[]" value="Sports Enhancement" required="" /><label id="label_input_424_10" for="input_424_10">Sports Enhancement</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_11" name="q424_whatAre424[]" value="Pain Management" required="" /><label id="label_input_424_11" for="input_424_11">Pain Management</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_424" class="form-checkbox validate[required]" id="input_424_12" name="q424_whatAre424[]" value="Other" required="" /><label id="label_input_424_12" for="input_424_12">Other</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_text" id="id_526">
        <div id="cid_526" class="form-input-wide">
          <div id="text_526" class="form-html" data-component="text" tabindex="0">
            <p style="text-align:center;">The following three questions: 1 - 10 (1=poor / 10=excellent)</p>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_slider" id="id_429"><label class="form-label form-label-left" id="label_429" for="input_429"> How do you rate your current level of health<span class="form-required">*</span> </label>
        <div id="cid_429" class="form-input jf-required">
          <div data-wrapper-react="true"><input type="range" data-component="slider" class="form-textbox validate[required]" id="input_429" name="q429_howDo429" /></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_slider" id="id_430"><label class="form-label form-label-left" id="label_430" for="input_430"> How do you rate your current level of energy or vitality<span class="form-required">*</span> </label>
        <div id="cid_430" class="form-input jf-required">
          <div data-wrapper-react="true"><input type="range" data-component="slider" class="form-textbox validate[required]" id="input_430" name="q430_howDo" /></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_slider" id="id_431"><label class="form-label form-label-left" id="label_431" for="input_431"> How do you rate your current stress levels<span class="form-required">*</span> </label>
        <div id="cid_431" class="form-input jf-required">
          <div data-wrapper-react="true"><input type="range" data-component="slider" class="form-textbox validate[required]" id="input_431" name="q431_howDo431" /></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_434"><label class="form-label form-label-left" id="label_434" for="input_434"> How many hours sleep do you get a night?<span class="form-required">*</span> </label>
        <div id="cid_434" class="form-input jf-required"> <input type="text" id="input_434" name="q434_howMany" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="8" value="" placeholder=" " data-component="textbox" aria-labelledby="label_434" required="" /> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_435"><label class="form-label form-label-left" id="label_435" for="input_435"> Do you have trouble getting to sleep?<span class="form-required">*</span> </label>
        <div id="cid_435" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_435" name="q435_doYou435" style="width:60px" data-component="dropdown" required="" aria-label="Do you have trouble getting to sleep?">
            <option value="">Please Select</option>
            <option value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_436"><label class="form-label form-label-left" id="label_436" for="input_436"> Do you wake often, or get woken easily?<span class="form-required">*</span> </label>
        <div id="cid_436" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_436" name="q436_doYou436" style="width:60px" data-component="dropdown" required="" aria-label="Do you wake often, or get woken easily?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_437"><label class="form-label form-label-left" id="label_437" for="input_437"> Do you have to go to the bathroom during the night?<span class="form-required">*</span> </label>
        <div id="cid_437" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_437" name="q437_doYou437" style="width:60px" data-component="dropdown" required="" aria-label="Do you have to go to the bathroom during the night?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_438"><label class="form-label form-label-left" id="label_438" for="input_438"> Do you snore or have breathing problems during sleep?<span class="form-required">*</span> </label>
        <div id="cid_438" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_438" name="q438_doYou438" style="width:60px" data-component="dropdown" required="" aria-label="Do you snore or have breathing problems during sleep?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Not sure">Not sure</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_439"><label class="form-label form-label-left" id="label_439" for="input_439"> Do you have known allergies?<span class="form-required">*</span> </label>
        <div id="cid_439" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_439" name="q439_doYou439" style="width:60px" data-component="dropdown" required="" aria-label="Do you have known allergies?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textarea" id="id_440"><label class="form-label form-label-top form-label-auto" id="label_440" for="input_440"> Please list any known allergies<span class="form-required">*</span> </label>
        <div id="cid_440" class="form-input-wide jf-required"> <textarea id="input_440" class="form-textarea validate[required]" name="q440_pleaseList440" cols="40" rows="3" data-component="textarea" required="" aria-labelledby="label_440"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_441"><label class="form-label form-label-top form-label-auto" id="label_441" for="input_441"> Please list any medications you are currently taking (e.g. warfarin, contraceptives, laxatives) </label>
        <div id="cid_441" class="form-input-wide"> <textarea id="input_441" class="form-textarea" name="q441_pleaseList441" cols="40" rows="3" data-component="textarea" aria-labelledby="label_441"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_442"><label class="form-label form-label-top form-label-auto" id="label_442" for="input_442"> Please list any supplements you are currently taking </label>
        <div id="cid_442" class="form-input-wide"> <textarea id="input_442" class="form-textarea" name="q442_pleaseList" cols="40" rows="3" data-component="textarea" aria-labelledby="label_442"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_447"><label class="form-label form-label-top form-label-auto" id="label_447" for="input_447"> Do you have a main health complaint? Please describe. </label>
        <div id="cid_447" class="form-input-wide"> <textarea id="input_447" class="form-textarea" name="q447_doYou447" cols="40" rows="6" data-component="textarea" aria-labelledby="label_447"></textarea> </div>
      </li>
      <li class="form-line" data-type="control_checkbox" id="id_459"><label class="form-label form-label-top form-label-auto" id="label_459" for="input_459"> Are there any of the following medical conditions in your family history that you are aware of? Please tick all that apply. </label>
        <div id="cid_459" class="form-input-wide">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_459" data-component="checkbox"><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_0" name="q459_areThere[]" value="Arthritis" /><label id="label_input_459_0" for="input_459_0">Arthritis</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_1" name="q459_areThere[]" value="Asthma" /><label id="label_input_459_1" for="input_459_1">Asthma</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_2" name="q459_areThere[]" value="Autoimmune Disorders (e.g. lupus, rheumatoid arthritis)" /><label id="label_input_459_2" for="input_459_2">Autoimmune Disorders (e.g. lupus, rheumatoid arthritis)</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_3" name="q459_areThere[]" value="Bowel Disorders" /><label id="label_input_459_3" for="input_459_3">Bowel Disorders</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_4" name="q459_areThere[]" value="Cancer" /><label id="label_input_459_4" for="input_459_4">Cancer</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_5" name="q459_areThere[]" value="Dementia / Alzeihmers" /><label id="label_input_459_5" for="input_459_5">Dementia / Alzeihmers</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_6" name="q459_areThere[]" value="Depression" /><label id="label_input_459_6" for="input_459_6">Depression</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_7" name="q459_areThere[]" value="Diabetes" /><label id="label_input_459_7" for="input_459_7">Diabetes</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_8" name="q459_areThere[]" value="Heart Attack" /><label id="label_input_459_8" for="input_459_8">Heart Attack</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_9" name="q459_areThere[]" value="High Blood Pressure" /><label id="label_input_459_9" for="input_459_9">High Blood Pressure</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_10" name="q459_areThere[]" value="High Cholesterol" /><label id="label_input_459_10" for="input_459_10">High Cholesterol</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_11" name="q459_areThere[]" value="Low Blood Pressure" /><label id="label_input_459_11" for="input_459_11">Low Blood Pressure</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_12" name="q459_areThere[]" value="Mental Illness" /><label id="label_input_459_12" for="input_459_12">Mental Illness</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_13" name="q459_areThere[]" value="Muscular Dystrophy" /><label id="label_input_459_13" for="input_459_13">Muscular Dystrophy</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_14" name="q459_areThere[]" value="Obesity" /><label id="label_input_459_14" for="input_459_14">Obesity</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_15" name="q459_areThere[]" value="Osteoporosis" /><label id="label_input_459_15" for="input_459_15">Osteoporosis</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_16" name="q459_areThere[]" value="Osteoporosis" /><label id="label_input_459_16" for="input_459_16">Osteoporosis</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_17" name="q459_areThere[]" value="Skin Disorders" /><label id="label_input_459_17" for="input_459_17">Skin Disorders</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_18" name="q459_areThere[]" value="Strokes" /><label id="label_input_459_18" for="input_459_18">Strokes</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_19" name="q459_areThere[]" value="Thyroid Over Active" /><label id="label_input_459_19" for="input_459_19">Thyroid Over Active</label></span><span class="form-checkbox-item" style="clear:left"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_20" name="q459_areThere[]" value="Thyroid Under Active" /><label id="label_input_459_20" for="input_459_20">Thyroid Under Active</label></span><span class="form-checkbox-item"><span class="dragger-item"></span><input type="checkbox" aria-describedby="label_459" class="form-checkbox" id="input_459_21" name="q459_areThere[]" value="Other" /><label id="label_input_459_21" for="input_459_21">Other</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_461"><label class="form-label form-label-top form-label-auto" id="label_461" for="input_461"> Additional info you might want to share </label>
        <div id="cid_461" class="form-input-wide"> <textarea id="input_461" class="form-textarea" name="q461_additionalInfo" cols="40" rows="3" data-component="textarea" aria-labelledby="label_461"></textarea> </div>
      </li>
      <li id="cid_541" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_541" class="form-header" data-component="header">Next: Diet and lifestyle . .</h2>
          </div>
        </div>
      </li>
      <li id="cid_531" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_531" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Back</button></div>
          <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_531" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Next</button></div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_531"></div>
        </div>
      </li>
    </ul>
    <ul class="form-section page-section" style="display:none;">
      <li class="form-line jf-required" data-type="control_radio" id="id_464"><label class="form-label form-label-top form-label-auto" id="label_464" for="input_464"> Do you exercise?<span class="form-required">*</span> </label>
        <div id="cid_464" class="form-input-wide jf-required">
          <div class="form-multiple-column" data-columncount="2" role="group" aria-labelledby="label_464" data-component="radio"><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_464" class="form-radio validate[required]" id="input_464_0" name="q464_doYou464" value="Never" required="" /><label id="label_input_464_0" for="input_464_0">Never</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_464" class="form-radio validate[required]" id="input_464_1" name="q464_doYou464" value="1-2 times a week" required="" /><label id="label_input_464_1" for="input_464_1">1-2 times a week</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_464" class="form-radio validate[required]" id="input_464_2" name="q464_doYou464" value="3-4 times a week" required="" /><label id="label_input_464_2" for="input_464_2">3-4 times a week</label></span><span class="form-radio-item"><span class="dragger-item"></span><input type="radio" aria-describedby="label_464" class="form-radio validate[required]" id="input_464_3" name="q464_doYou464" value="5-6 times a week" required="" /><label id="label_input_464_3" for="input_464_3">5-6 times a week</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_464" class="form-radio validate[required]" id="input_464_4" name="q464_doYou464" value="Everyday" required="" /><label id="label_input_464_4" for="input_464_4">Everyday</label></span></div>
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_465"><label class="form-label form-label-top form-label-auto" id="label_465" for="input_465"> Please list the types of exercise you do regularly </label>
        <div id="cid_465" class="form-input-wide"> <textarea id="input_465" class="form-textarea" name="q465_pleaseList465" cols="40" rows="6" data-component="textarea" aria-labelledby="label_465"></textarea> </div>
      </li>
      <li class="form-line form-line-column form-col-1 jf-required" data-type="control_dropdown" id="id_466"><label class="form-label form-label-top" id="label_466" for="input_466"> Do you smoke?<span class="form-required">*</span> </label>
        <div id="cid_466" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_466" name="q466_doYou466" style="width:60px" data-component="dropdown" required="" aria-label="Do you smoke?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select> </div>
      </li>
      <li class="form-line form-line-column form-col-2" data-type="control_textbox" id="id_467"><label class="form-label form-label-top" id="label_467" for="input_467"> How many per wk? </label>
        <div id="cid_467" class="form-input-wide"> <input type="text" id="input_467" name="q467_howMany467" data-type="input-textbox" class="form-textbox" data-defaultvalue="" size="5" value="" placeholder=" " data-component="textbox" aria-labelledby="label_467" /> </div>
      </li>
      <li class="form-line form-line-column form-col-3" data-type="control_dropdown" id="id_469"><label class="form-label form-label-top" id="label_469" for="input_469"> Do you take recreational drugs? </label>
        <div id="cid_469" class="form-input-wide"> <select class="form-dropdown" id="input_469" name="q469_doYou469" style="width:60px" data-component="dropdown" aria-label="Do you take recreational drugs?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select> </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_468"><label class="form-label form-label-top form-label-auto" id="label_468" for="input_468"> Please list any food allergies / intolerances that you are aware of? </label>
        <div id="cid_468" class="form-input-wide"> <textarea id="input_468" class="form-textarea" name="q468_pleaseList468" cols="40" rows="6" data-component="textarea" aria-labelledby="label_468"></textarea> </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_472"><label class="form-label form-label-left" id="label_472" for="input_472"> How many glasses of water do you have a day?<span class="form-required">*</span> </label>
        <div id="cid_472" class="form-input jf-required"> <input type="text" id="input_472" name="q472_howMany472" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="8" value="" placeholder=" " data-component="textbox" aria-labelledby="label_472" required="" /> </div>
      </li>
      <li class="form-line form-line-column form-col-1" data-type="control_radio" id="id_542"><label class="form-label form-label-top" id="label_542" for="input_542"> Do you drink alcohol? </label>
        <div id="cid_542" class="form-input-wide">
          <div class="form-single-column" role="group" aria-labelledby="label_542" data-component="radio"><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_542" class="form-radio" id="input_542_0" name="q542_doYou542" value="Yes" /><label id="label_input_542_0" for="input_542_0">Yes</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_542" class="form-radio" id="input_542_1" name="q542_doYou542" value="No" /><label id="label_input_542_1" for="input_542_1">No</label></span></div>
        </div>
      </li>
      <li class="form-line form-line-column form-col-2 jf-required" data-type="control_textbox" id="id_474"><label class="form-label form-label-top" id="label_474" for="input_474"> How many per week?<span class="form-required">*</span> </label>
        <div id="cid_474" class="form-input-wide jf-required"> <input type="text" id="input_474" name="q474_howMany474" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="10" value="" placeholder=" " data-component="textbox" aria-labelledby="label_474" required="" /> </div>
      </li>
      <li id="cid_530" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_530" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Back</button></div>
          <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_530" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Next</button></div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_530"></div>
        </div>
      </li>
    </ul>
    <ul class="form-section page-section" style="display:none;">
      <li id="cid_543" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-default">
          <div class="header-text httal htvam">
            <h2 id="header_543" class="form-header" data-component="header">Patient health history</h2>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_radio" id="id_374"><label class="form-label form-label-top form-label-auto" id="label_374" for="input_374"> Frequency of exercise (days per week):<span class="form-required">*</span> </label>
        <div id="cid_374" class="form-input-wide jf-required">
          <div class="form-single-column" role="group" aria-labelledby="label_374" data-component="radio"><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_374" class="form-radio validate[required]" id="input_374_0" name="q374_frequencyOf" value="6 - 7" required="" /><label id="label_input_374_0" for="input_374_0">6 - 7</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_374" class="form-radio validate[required]" id="input_374_1" name="q374_frequencyOf" value="3 - 5" required="" /><label id="label_input_374_1" for="input_374_1">3 - 5</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_374" class="form-radio validate[required]" id="input_374_2" name="q374_frequencyOf" value="1 - 2" required="" /><label id="label_input_374_2" for="input_374_2">1 - 2</label></span><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_374" class="form-radio validate[required]" id="input_374_3" name="q374_frequencyOf" value="0" required="" /><label id="label_input_374_3" for="input_374_3">0</label></span></div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_375"><label class="form-label form-label-top form-label-auto" id="label_375" for="input_375"> Vegetarian or vegen:<span class="form-required">*</span> </label>
        <div id="cid_375" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_375" name="q375_vegetarianOr" style="width:60px" data-component="dropdown" required="" aria-label="Vegetarian or vegen:">
            <option value="">Please Select</option>
            <option selected="" value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_376"><label class="form-label form-label-top form-label-auto" id="label_376" for="input_376"> Age &gt;50 years:<span class="form-required">*</span> </label>
        <div id="cid_376" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_376" name="q376_age50" style="width:60px" data-component="dropdown" required="" aria-label="Age &gt;50 years:">
            <option value="">Please Select</option>
            <option selected="" value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_377"><label class="form-label form-label-top form-label-auto" id="label_377" for="input_377"> Planning to have a baby in the next 3-6 months:<span class="form-required">*</span> </label>
        <div id="cid_377" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_377" name="q377_planningTo" style="width:60px" data-component="dropdown" required="" aria-label="Planning to have a baby in the next 3-6 months:">
            <option value="">Please Select</option>
            <option selected="" value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_378"><label class="form-label form-label-top form-label-auto" id="label_378" for="input_378"> Pregnant or breastfeeding:<span class="form-required">*</span> </label>
        <div id="cid_378" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_378" name="q378_pregnantOr378" style="width:60px" data-component="dropdown" required="" aria-label="Pregnant or breastfeeding:">
            <option value="">Please Select</option>
            <option selected="" value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li id="cid_413" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_413" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Back</button></div>
          <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_413" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Next</button></div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_413"></div>
        </div>
      </li>
    </ul>
    <ul class="form-section page-section" style="display:none;">
      <li class="form-line jf-required" data-type="control_dropdown" id="id_380"><label class="form-label form-label-top form-label-auto" id="label_380" for="input_380"> Do you diet often?:<span class="form-required">*</span> </label>
        <div id="cid_380" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_380" name="q380_doYou380" style="width:60px" data-component="dropdown" required="" aria-label="Do you diet often?:">
            <option value="">Please Select</option>
            <option selected="" value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_381"><label class="form-label form-label-top form-label-auto" id="label_381" for="input_381"> Are you unhappy with your weight?:<span class="form-required">*</span> </label>
        <div id="cid_381" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_381" name="q381_areYou381" style="width:60px" data-component="dropdown" required="" aria-label="Are you unhappy with your weight?:">
            <option value="">Please Select</option>
            <option selected="" value="No">No</option>
            <option value="Yes">Yes</option>
          </select> </div>
      </li>
      <li id="cid_411" class="form-input-wide" data-type="control_pagebreak">
        <div class="form-pagebreak" data-component="pagebreak">
          <div class="form-pagebreak-back-container"><button id="form-pagebreak-back_411" type="button" class="form-pagebreak-back  jf-form-buttons" data-component="pagebreak-back">Back</button></div>
          <div class="form-pagebreak-next-container"><button id="form-pagebreak-next_411" type="button" class="form-pagebreak-next  jf-form-buttons" data-component="pagebreak-next">Next</button></div>
          <div style="clear:both" class="pageInfo form-sub-label" id="pageInfo_411"></div>
        </div>
      </li>
    </ul>
    <ul class="form-section page-section" style="display:none;">
      <li class="form-line jf-required" data-type="control_textarea" id="id_410"><label class="form-label form-label-top form-label-auto" id="label_410" for="input_410"> Do you have a family history of diabetes, cardiovascular disease, cancer, or any other major illness?:<span class="form-required">*</span> </label>
        <div id="cid_410" class="form-input-wide jf-required"> <textarea id="input_410" class="form-textarea validate[required]" name="q410_doYou410" cols="40" rows="6" data-component="textarea" required="" aria-labelledby="label_410"></textarea> </div>
      </li>
      <li class="form-line jf-required" data-type="control_dropdown" id="id_420"><label class="form-label form-label-top form-label-auto" id="label_420" for="input_420"> Would you like us to E-mail you a copy of your HAQ?<span class="form-required">*</span> </label>
        <div id="cid_420" class="form-input-wide jf-required"> <select class="form-dropdown validate[required]" id="input_420" name="q420_wouldYou" style="width:60px" data-component="dropdown" required="" aria-label="Would you like us to E-mail you a copy of your HAQ?">
            <option value="">Please Select</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select> </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_421"><label class="form-label form-label-top form-label-auto" id="label_421" for="input_421"> Your Preferred E-mail Address<span class="form-required">*</span> </label>
        <div id="cid_421" class="form-input-wide jf-required"> <input type="email" id="input_421" name="q421_yourPreferred" class="form-textbox validate[required, Email]" data-defaultvalue="" size="30" value="" placeholder=" myname@example.com.au" data-component="email" aria-labelledby="label_421" required="" /> </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button form-submit-button-simple_green submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Finish</button></div>
        </div>
      </li>
      <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
    </ul>
  </div>
  <script>
    JotForm.showJotFormPowered = "new_footer";
  </script>
  <script>
    JotForm.poweredByText = "Powered by Jotform";
  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231698038596572" />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll("form[id='231698038596572'] .si" + "mple" + "_spc");
    for (var i = 0; i < all_spc.length; i++)
    {
      all_spc[i].value = "231698038596572-231698038596572";
    }
  </script>
  <div class="formFooter-heightMask"></div>
  <div class="formFooter f6 branding21">
    <div class="formFooter-wrapper formFooter-leftSide"><a href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=231698038596572&utm_content=jotform_logo&utm_campaign=powered_by_jotform_le" target="_blank" class="formFooter-logoLink"><img class="formFooter-logo" src="https://cdn.jotfor.ms/assets/img/logo2021/jotform-logo-white.svg" alt="Jotform Logo" style="height: 44px;"></a></div>
    <div class="formFooter-wrapper formFooter-rightSide"><span class="formFooter-text">Now create your own Jotform - It's free!</span><a class="formFooter-button" href="https://www.jotform.com/?utm_source=formfooter&utm_medium=banner&utm_term=231698038596572&utm_content=jotform_button&utm_campaign=powered_by_jotform_le" target="_blank">Create your own Jotform</a></div>
  </div><input type="hidden" id="input_423" name="q423_haqUnique" class="form-textbox form-hidden" data-defaultvalue="HE-2012-100" value="HE-2012-100" data-component="autoincrement" />
</form></body>
</html>