@model CodeMed.Models.PrenatalLogin

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up and Log In</title>
    <!-- CSS styles -->
</head>
<body>
    <div class="form">
        <h1>Welcome Back!</h1>
        <form asp-action="Login" method="post">
            <h4>Please Sign In with the same credentials</h4>
            <br /><br />
            <div class="field-wrap">
                <label>
                    Email Address<span class="req">*</span>
                </label>
                <input asp-for="Email" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="field-wrap">
                <label>
                    Password<span class="req">*</span>
                </label>
                <input asp-for="Password" class="form-control" required autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <p class="forgot"><a href="#">Forgot Password?</a></p>
            <button type="submit" class="button button-block">Log In</button>
        </form>
    </div>
</body>
</html>
