@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>You have the option to securely download a copy of your personal data stored in your account. Your privacy is important to us, and we provide this feature to empower you with control over your information.</p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
