@model CodeMed.Models.Prenatal.Counsellor.Prenatal_Grief_Therapy;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grief</title>
    <title>Appointment Request Form</title>
    <link rel="stylesheet" href="/css/boostrap.css" />
    <link rel="stylesheet" href="/css/site.css?v=pAGv4ietcJNk_EwsQZ5BN9-K4MuNYS2a9wl4Jw-q9D0" />
    <link rel="stylesheet" href="/CodeMed.styles.css?v=6NpGbMrsF9p1j3fx9VpwMIJhHcOU_HqRiXy2MVUSMqI" />
    <link href="assets/img/favicon.jpg" rel="icon" />
    <link href="assets/img/apple-touch-icon.jpg" rel="apple-touch-icon" />
    <style>
        .search-and-select {
            display: flex;
            align-items: center;
        }

        /* Style the search input to make it inline with the dropdown */
        #search_patient {
            margin-left: 10px; /* Add space between the select and input */
        }
        .centered-button-container {
            display: flex;
            justify-content: center;
        }

        button.custom-button {
            width: 400px; /* Set the width to 200px */
        }

        .center {
            text-align: center;
            color: #36517E;
        }

        .blank-line {
            margin-bottom: 80px; /* Adjust the value as needed */
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 5px grey;
            cursor: pointer;
            display: flex;
            justify-content: center;
            width: 200px;
        }

            button:hover {
                background-color: #3e8e41;
            }

        div {
            margin-bottom: 10px;
        }

        .centered-button-container {
            display: flex;
            justify-content: center;
        }

        button.custom-button {
            width: 200px; /* Set the width to 200px */
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

            .button-container button {
                flex: 1;
                margin-right: 10px;
            }

        .center {
            text-align: center;
            color: #36517E;
        }

        .blank-line {
            margin-bottom: 80px; /* Adjust the value as needed */
        }


        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        form {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
            border: 2px solid #36517E; /* Add a blue border around the form */
            padding: 20px; /* Add some padding within the border */
        }


            form label {
                display: block;
                margin-bottom: 10px;
                color: #36517E;
                font-weight: bold;
            }

            form input[type="text"],
            form input[type="tel"],
            form input[type="email"],
            form input[type="date"],
            form input[type="time"],
            form textarea,
            form select,
            form input[type="submit"] {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 15px;
                font-size: 14px;
            }

            form input[type="submit"] {
                background-color: #36517E;
                color: #fff;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
                border-radius: 3px;
            }

                form input[type="submit"]:hover {
                    background-color: #243d5e;
                }
    </style>
</head>
<body>

    <div class="blank-line"></div>
    <div class="center">
        <h1>Grief Therapy</h1>
    </div>
    <div class="container">

        <form method="post" asp-action="PrenatalGrief">
            <h2>Personal Information</h2>
            <label asp-for="Obstetrician">Obstetrician:</label>
            <input asp-for="Obstetrician" type="text" id="firstName" class="form-control" value="@($"{Context.Session.GetString("FirstName")} {Context.Session.GetString("LastName")}")" required>

            <div class="appointment-form">
                @if (ViewBag.Patients != null)
                {
                    <label for="selected_patient">Select Patient:</label>
                    <div class="search-and-select">
                        <select id="selected_patient" asp-for="Patient" required>
                            <option value="">Select Patient</option>
                            @foreach (var patient in ViewBag.Patients)
                            {
                                <option value="@patient.Id">@patient.FullName</option>
                            }
                        </select>
                        <input type="text" id="search_patient" placeholder="Search patient...">
                    </div>

                    <div class="user-info">
                        <label for="full_name">Patient Name:&nbsp;&nbsp;<span id="selected_full_name"></span></label>
                    </div>
                }
            </div>

            <label asp-for="Date">Appointment Date:</label>
            <input asp-for="Date" type="date" id="start-date" required>

            <h2>Grief Notes and Considerations</h2>
            <label asp-for="Baby_Name">Baby's Name (if applicable):</label>
            <input asp-for="Baby_Name"type="text" id="baby_name" >

            <label asp-for="Due_Date">Due Date (if applicable):</label>
            <input asp-for="Due_Date"type="date" id="due_date" >

            <label asp-for="Loss_Type">Type of Loss:</label>
            <select asp-for="Loss_Type" id="loss_type" class="form-control" aria-required="true">
                <option value="Select">Select Option</option>
                <option value="miscarriage">Miscarriage</option>
                <option value="stillborn">Stillborn</option>
                <option value="infant_loss">Infant Loss (under 1 year old)</option>
            </select>

            <label asp-for="Coping_Strategies">Coping Strategies:</label>
            <textarea asp-for="Coping_Strategies" id="education-future-plans" rows="3"></textarea>

            <label asp-for="Future_Plans">Future Pregnancy Concerns:</label>
            <textarea asp-for="Future_Plans" id="education-future-plans" rows="3"></textarea>

            <label asp-for="Notes">Notes and Considerations:</label>
            <textarea asp-for="Notes" id="notes" rows="3"></textarea>

            <div class="centered-button-container">
                <button type="submit">Save</button>
            </div>
        </form>

    </div>

    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    <script>
        var dropdown = document.getElementById("selected_patient");
        var fullNameSpan = document.getElementById("selected_full_name");
        var searchInput = document.getElementById("search_patient");

        dropdown.addEventListener("change", function () {
            var selectedOption = dropdown.options[dropdown.selectedIndex];
            var selectedFullName = selectedOption.text;
            fullNameSpan.textContent = selectedFullName;
        });

        searchInput.addEventListener("input", function () {
            var searchTerm = searchInput.value.toLowerCase();
            for (var i = 0; i < dropdown.options.length; i++) {
                var option = dropdown.options[i];
                var fullName = option.text.toLowerCase();
                if (fullName.includes(searchTerm)) {
                    option.style.display = "block";
                } else {
                    option.style.display = "none";
                }
            }
        });
    </script>
</body>
</html>
