
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FlexStart Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/dashboards/assets/img/favicon.png" rel="icon">
    <link href="~/dashboards/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/dashboards/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/dashboards/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/dashboards/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/dashboards/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/dashboards/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/dashboards/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/dashboards/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: FlexStart
    * Updated: Jul 27 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>


    <main id="main">

        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">

            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <p>Hello, Administrator</p>
                </header>
                <div class="row gy-4" data-aos="fade-left" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="box" style="text-align: center;">
                            <h3 style="color: #6D3790;">Book Appointments</h3>
                            <img src="~/dashboards/images/admin/appointment.png" class="img-fluid" alt="" />
                            <a asp-controller="Scheduling" asp-action="Index" class="btn-buy">Book Appointment</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="box" style="text-align: center;">
                            <h3 style="color: #D58600;">Manage Appointments</h3>
                            <img src="~/dashboards/images/admin/booking_management.png" class="img-fluid" alt="">
                            <a asp-controller="WalkIn" asp-action="PrenatalManageBooking" class="btn-buy">Manage Appointments</a>
                        </div>
                    </div>
                </div>
            </div>


        </section><!-- End Pricing Section -->

    </main><!-- End #main -->
    <!-- Vendor JS Files -->
    <script src="~/dashboards/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/dashboards/assets/vendor/aos/aos.js"></script>
    <script src="~/dashboards/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dashboards/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/dashboards/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/dashboards/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/dashboards/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>

