@model CodeMed.Models.chronic.MedicationFeedback;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical History Form</title>
    <title>Appointment Request Form</title>
    <link rel="stylesheet" href="~/css/boostrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeMed.styles.css" asp-append-version="true" />
    <link href="assets/img/favicon.jpg" rel="icon" />
    <link href="assets/img/apple-touch-icon.jpg" rel="apple-touch-icon" />
    <style>
        .centered-button-container {
            display: flex;
            justify-content: center;
        }

        button.custom-button {
            width: 400px; /* Set the width to 200px */
        }

        .center {
            text-align: center;
            color: #36517E;
        }

        .blank-line {
            margin-bottom: 80px; /* Adjust the value as needed */
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 5px grey;
            cursor: pointer;
            display: flex;
            justify-content: center;
            width: 200px;
        }

            button:hover {
                background-color: #3e8e41;
            }

        div {
            margin-bottom: 10px;
        }

        .centered-button-container {
            display: flex;
            justify-content: center;
        }

        button.custom-button {
            width: 200px; /* Set the width to 200px */
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

            .button-container button {
                flex: 1;
                margin-right: 10px;
            }

        .center {
            text-align: center;
            color: #36517E;
        }

        .blank-line {
            margin-bottom: 80px; /* Adjust the value as needed */
        }


        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .search-and-select {
            display: flex;
            align-items: center;
        }

        .search-and-select {
            display: flex;
            align-items: center;
        }

        /* Style the search input to make it inline with the dropdown */
        #search_patient {
            margin-left: 10px; /* Add space between the select and input */
        }

        form {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
            border: 2px solid #36517E; /* Add a blue border around the form */
            padding: 20px; /* Add some padding within the border */
        }


            form label {
                display: block;
                margin-bottom: 10px;
                color: #36517E;
                font-weight: bold;
            }

            form input[type="text"],
            form input[type="tel"],
            form input[type="email"],
            form input[type="date"],
            form input[type="time"],
            form textarea,
            form select,
            form input[type="submit"] {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 3px;
                margin-bottom: 15px;
                font-size: 14px;
            }

            form input[type="submit"] {
                background-color: #36517E;
                color: #fff;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                font-size: 16px;
                border-radius: 3px;
            }

                form input[type="submit"]:hover {
                    background-color: #243d5e;
                }
    </style>
</head>
<body>
    <div class="blank-line"></div>
    <div class="center">
        <h1> Provide Medication Feedback</h1>
    </div>
    <div class="container">
        <form method="post" asp-action="MedicationFeedback">
            <label asp-for="Patient">Doctor:</label>
            <input asp-for="Patient" type="text" id="firstName" class="form-control" value="@($"{Context.Session.GetString("FirstName")} {Context.Session.GetString("LastName")}")">

            <label asp-for="MedicationName">Medication Name:</label>
            <select asp-for="MedicationName" id="medicationname" class="form-control" aria-required="true">
                <option value="">Select Medication</option>
                <option value="Lisinopril">Lisinopril</option>
                <option value="Amlodipine">Amlodipine</option>
                <option value="Metoprolol">Metoprolol</option>
                <option value="Hydrochlorothiazide">Hydrochlorothiazide</option>
                <option value="Atorvastatin">Atorvastatin</option>
                <option value="Simvastatin">Simvastatin</option>
                <option value="Rosuvastatin">Rosuvastatin</option>
                <option value="Metformin">Metformin</option>
                <option value="Insulin">Insulin</option>
                <option value="Glipizide">Glipizide</option>
                <option value="Sitagliptin">Sitagliptin</option>
                <option value="Albuterol Inhaler">Albuterol Inhaler</option>
                <option value="Fluticasone/Salmeterol Inhaler">Fluticasone/Salmeterol Inhaler</option>
                <option value="Montelukast">Montelukast</option>
                <option value="Levothyroxine">Levothyroxine</option>
                <option value="Acetaminophen">Acetaminophen</option>
                <option value="Ibuprofen">Ibuprofen</option>
                <option value="Opioid Medication">Opioid Medication</option>
                <option value="Sertraline">Sertraline</option>
                <option value="Lithium">Lithium</option>
                <option value="Aripiprazole">Aripiprazole</option>
                <option value="Tacrolimus">Tacrolimus</option>
                <option value="Mycophenolate">Mycophenolate</option>
                <option value="Prednisone">Prednisone</option>
                <option value="Warfarin">Warfarin</option>
                <option value="Clopidogrel">Clopidogrel</option>
                <option value="Omeprazole">Omeprazole</option>
                <option value="Loperamide">Loperamide</option>
                <option value="Mesalamine">Mesalamine</option>
                <option value="Loratadine">Loratadine</option>
                <option value="Fluticasone (Nasal Spray)">Fluticasone (Nasal Spray)</option>
                <option value="EpiPen">EpiPen</option>
                <option value="Methotrexate">Methotrexate</option>
                <option value="Tumor Necrosis Factor (TNF) Inhibitors">Tumor Necrosis Factor (TNF) Inhibitors</option>
                <option value="Alendronate">Alendronate</option>
                <option value="Risedronate">Risedronate</option>
                <option value="Carbamazepine">Carbamazepine</option>
                <option value="Valproic Acid">Valproic Acid</option>
                <option value="Levetiracetam">Levetiracetam</option>
                <option value="Tenofovir/Emtricitabine">Tenofovir/Emtricitabine</option>
                <option value="Ritonavir">Ritonavir</option>
                <option value="Dolutegravir">Dolutegravir</option>
            </select>
            
            <!--Dose-->
            <label asp-for="Dose">Dose:</label>
            <select asp-for="Dose" id="dose" name="dose" class="form-control" aria-required="true" required>
                <option value="Select">Select Option</option>
                <option value="Dose">10 mg</option>
                <option value="Dose">15 mg</option>
                <option value="Dose">20 mg</option>
                <option value="Dose">25 mg</option>
                <option value="Dose">30 mg</option>
                <option value="Dose">45 mg</option>
            </select>
            <!--Date Started Taking-->
            <label asp-for="Date">Date Started Taking:</label>
            <input type="date" id="datestartedtaking" asp-for="Date"  required>
            <!--Side Effects-->
            <label asp-for="SideEffects">Side Effects:</label>
            <textarea asp-for="SideEffects" id="sideeffects" required></textarea>
            <!--Medication Effectiveness-->
            <label asp-for="Effectiveness">Is the medication effective?</label>
            <select asp-for="Effectiveness" id="effectiveness"  class="form-control" aria-required="true" required>
                <option value="Select">Select Option</option>
                <option value="Effectiveness">Yes</option>
                <option value="Effectiveness">No</option>
            </select>

            <button type="submit" value="Submit">Save</button>
        </form>
    </div>


    <script>
        var dropdown = document.getElementById("selected_patient");
        var fullNameSpan = document.getElementById("selected_full_name");
        var searchInput = document.getElementById("search_patient");

        dropdown.addEventListener("change", function () {
            var selectedOption = dropdown.options[dropdown.selectedIndex];
            var selectedFullName = selectedOption.text;
            fullNameSpan.textContent = selectedFullName;
        });

        searchInput.addEventListener("input", function () {
            var searchTerm = searchInput.value.toLowerCase();
            for (var i = 0; i < dropdown.options.length; i++) {
                var option = dropdown.options[i];
                var fullName = option.text.toLowerCase();
                if (fullName.includes(searchTerm)) {
                    option.style.display = "block";
                } else {
                    option.style.display = "none";
                }
            }
        });

    </script>
</body>
</html>



